{%- style -%}
  #shopify-section-{{ section.id }}{
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{%- endstyle -%}

<link
  rel="stylesheet"
  href="{{ 'image-comparision-on-slider.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>
<link rel="stylesheet" href="{{ 'slick.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'slick-theme.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'image-comparision-on-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'slick.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'slick-theme.css' | asset_url | stylesheet_tag }}</noscript>

<div class="image-comparing-slider">
  <div class="gallery gallery-responsive portfolio_slider">
    <!-- one -->
    <div class="inner">
      <div class="ba-slider acne">
        <img
          class="img"
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_29_61d04c91-9284-4245-abd6-65a021eea99a.png?v=1669093952"
        >
        <div class="resize">
          <img
            class="img"
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_28_68e9e44e-c577-407a-90bd-bb2c50903d5c.png?v=1669093952"
          >
        </div>
        <span class="handle"></span>
      </div>
      <div>
      <fieldset class="acne-reviews">
        <legend class="legend-title"><br><h4>Acne</h4><p> After 28 days </p></legend> 
        <div class="customer">
        	<div class="customer-name">
        		<h1> Jilian </h1>
        		<p class="alisha-stars">✭✭✭✭✭</p>
        	</div>
        	<div class="comments">
        		<p class="large-quotes"><i>“ </i></p>
        		<p class="comments-text">
        			I have been struggling with severe acne my entire life. I tried everything and nothing worked. Then I started using Seacra’s Recovery & Repair Gel, 3 weeks later all my inflamed areas are gone, size of my pores and redness reduced!
        		</p>
        	</div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="inner">
      <div class="ba-slider acne">
        <img
          class="img"
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_31_fa42fc42-3b37-4f03-9249-509f6d6a08d2.png?v=1669094084"
        >
        <div class="resize">
          <img
            class="img"
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_30_f067dd6c-6df3-44c5-b3ec-9e2ef64041cd.png?v=1669094084"
          >
        </div>
        <span class="handle"></span>
      </div>
      <div>
      <fieldset class="acne-reviews">
        <legend class="legend-title"><br><h4>Acne</h4><p> After 28 days </p></legend> 
        <div class="customer">
        	<div class="customer-name">
        		<h1> Kaitlin </h1>
        		<p class="alisha-stars">✭✭✭✭✭</p>
        	</div>
        	<div class="comments">
        		<p class="large-quotes"><i>“</i></p>
        		<p class="comments-text">
        			I can’t explain how much I am in love with this product! I’ve looked for something for years to help clear my acne, to just make me feel more confident. And I found it 
        		</p>
        	</div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
<script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'image-comparision-on-slider.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "Acne Comapre",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "Acne Comapree",
      "blocks": []
    }
  ]
}
{% endschema %}
