{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --gradient-background: {% if section.settings.gradient_background != blank %}{{ section.settings.gradient_background }}{% else %}{{ section.settings.colors_background }}{% endif %};
    --color-background: {{ section.settings.colors_background.red }}, {{ section.settings.colors_background.green }}, {{ section.settings.colors_background.blue }};
    --color-foreground: {{ section.settings.colors_text.red }}, {{ section.settings.colors_text.green }}, {{ section.settings.colors_text.blue }};
    --color-border: {{ section.settings.colors_border.red }}, {{ section.settings.colors_border.green }}, {{ section.settings.colors_border.blue }};
    --color-link: var(--color-foreground);
    --color-button-text: var(--color-background);
    --color-button-border: var(--color-foreground);
    --color-button-background: var(--color-foreground);
    --color-shadow: var(--color-foreground);
    --shadow-opacity: 0.3;
  }
{%- endstyle -%}
<link rel="stylesheet" href="{{ 'carbon-footprint.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'carbon-footprint.css' | asset_url | stylesheet_tag }}</noscript>

<div class="carbon-footprint">

  <div class="carbon_main1">
  <div class="c_section" >
    <div class="moneyback">
         <div class="img_content">
          <p>Money Back <br/><span>Guarante</span></p>

          <h3>
            We are confident that you will love our product. however, if you are not satisfied with your purchase, we will gladly refund your money.
          </h3>
         </div>
         <div class="img_content">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/moneyBack_f5e7245a-0ae6-4d17-974b-b63da1d4df19.png?v=1668237389" class="images" />

        </div>
    </div>
  </div>
  <div class="c_section">
    <div class="moneyback">
      <div class="img_content">
        <p>Minimising Our <br/><span>Carbon Foot Print</span</p>
        <h3>
          We plant with every order! aRE YOU READY TO PLANT YOURS?
        </h3>

      </div>
      <div class="img_content">
       <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/carbon-foot-print_13e0759d-679b-4ab6-9fc8-92cf5e8d3fbd.png?v=1668237389" class="images" />

     </div>
 </div>
</div>
  </div>

</div>
</div>

<!-- <script src="{{ 'carbon-footprint.js' | asset_url }}" defer="defer"></script> -->
{% schema %}
{
  "name": "carbon footprint",
  "tag": "section",
  "class": "section collage-section",
  "presets": [
    {
      "name": "carbon footprint",
      "blocks": []
    }
  ]
}
  
{% endschema %}