{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --gradient-background: {% if section.settings.gradient_background != blank %}{{ section.settings.gradient_background }}{% else %}{{ section.settings.colors_background }}{% endif %};
    --color-background: {{ section.settings.colors_background.red }}, {{ section.settings.colors_background.green }}, {{ section.settings.colors_background.blue }};
    --color-foreground: {{ section.settings.colors_text.red }}, {{ section.settings.colors_text.green }}, {{ section.settings.colors_text.blue }};
    --color-border: {{ section.settings.colors_border.red }}, {{ section.settings.colors_border.green }}, {{ section.settings.colors_border.blue }};
    --color-link: var(--color-foreground);
    --color-button-text: var(--color-background);
    --color-button-border: var(--color-foreground);
    --color-button-background: var(--color-foreground);
    --color-shadow: var(--color-foreground);
    --shadow-opacity: 0.3;
  }
{%- endstyle -%}
<!-- <link rel="stylesheet" href="{{ 'key-line-ambasssador.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'key-line-ambasssador.css' | asset_url | stylesheet_tag }}</noscript> -->


<style>
    .clinically_lines{
        position: relative;
        max-width: 100%;;
        margin: 0px auto;
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 23px;
        line-height: 168%;
        color: #CC4E61;
        padding:0px 20px;
}
.span_clinically_lines{
    color: #4A4A4A;
    font-weight: 300;
    text-align: center;
    font-size: 19px;
    margin: 0px auto;
    padding:0px 20px;
}
.clinically_lines:before{
  content:" ";
  height: 1px;
  width: 29%;
  background: #CC4E61;
  border-radius: 23px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}

.clinically_lines:after{
  content:" ";
  height: 1px;
  width: 29%;
  background: #CC4E61;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}
.learning_txt{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 48px;
    text-align: center;
    color: #CC4E61;
    padding:0px 20px;
}

@media screen and (max-width: 768px) {
    .clinically_lines:before{
  content:" ";
  height: 1px;
  width: 8%;
  background: #CC4E61;
  border-radius: 23px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}

.clinically_lines:after{
  content:" ";
  height: 1px;
  width: 8%;
  background: #CC4E61;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}
}

</style>

<section >
    <h1 class="clinically_lines"> Clinically Proven Confidence</h1>
    <p class="span_clinically_lines">A success rate of over 97% in our clinical trials across 28 days</p>
    <br/>
  <br/>
    <h1 class="learning_txt">Interested in learning more about our clinical trials? <br/>
        <span class="span_clinically_lines">You can file a request for access <a href="#" style="color:#CC4E61">here.</a></span></h1>
       
</section>




{% schema %}
{
  "name": "clinically-proven-line",
  "tag": "section",
  "class": "section collage-section",
  "presets": [
    {
      "name": "clinically-proven-line",
      "blocks": []
    }
  ]
}
  
{% endschema %}