{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --gradient-background: {% if section.settings.gradient_background != blank %}{{ section.settings.gradient_background }}{% else %}{{ section.settings.colors_background }}{% endif %};
    --color-background: {{ section.settings.colors_background.red }}, {{ section.settings.colors_background.green }}, {{ section.settings.colors_background.blue }};
    --color-foreground: {{ section.settings.colors_text.red }}, {{ section.settings.colors_text.green }}, {{ section.settings.colors_text.blue }};
    --color-border: {{ section.settings.colors_border.red }}, {{ section.settings.colors_border.green }}, {{ section.settings.colors_border.blue }};
    --color-link: var(--color-foreground);
    --color-button-text: var(--color-background);
    --color-button-border: var(--color-foreground);
    --color-button-background: var(--color-foreground);
    --color-shadow: var(--color-foreground);
    --shadow-opacity: 0.3;
  }
{%- endstyle -%}
<link rel="stylesheet" href="{{ 'collagendrink.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'collagendrink.css' | asset_url | stylesheet_tag }}</noscript>

<section class="collection_gelrow">
  <div class="collection_column"><ul class="repaiegel_Slides">
      <input type="Radio" name="Radio-Btn" id="Img-1" checked="">
      <li class="Slide-Containerr">
        <div class="collec_Slide">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1694.png?v=1674469546">
          <button class="buyIT_nowbtn">Buy It Now</button>
          <img class="bag" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_974.png?v=1674218631">
       
        </div>
      </li>
      <input type="Radio" name="Radio-Btn" id="Img-2">
      <li class="Slide-Containerr">
        <div class="collec_Slide">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1695.png?v=1674469546">
          <button class="buyIT_nowbtn">Buy It Now</button>
          <img class="bag" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_974.png?v=1674218631">
          
        </div>
      </li>
      <input type="Radio" name="Radio-Btn" id="Img-3">
      <li class="Slide-Containerr">
        <div class="collec_Slide">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1696.png?v=1674469545">
          <button class="buyIT_nowbtn">Buy It Now</button>
          <img class="bag" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_974.png?v=1674218631">
        </div>
      </li>
 
      <li class="Nav-Dots">
        <label for="Img-1" class="Nav-Dot" id="Img-Dot-1"></label>
        <label for="Img-2" class="Nav-Dot" id="Img-Dot-2"></label>
        <label for="Img-3" class="Nav-Dot" id="Img-Dot-3"></label>
       
      </li>
    </ul>
    
    
    

    
  </div>

  <div class="collection_column">
    
    <h1>Collagen<br>Drink</h1>
  
  <div class="line">



    <div class="collection_stars">
      <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_38.png?v=1674216815">
      <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_38.png?v=1674216815">
      <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_38.png?v=1674216815">
      <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_38.png?v=1674216815">
      <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_38.png?v=1674216815">

   
  </a>
  </div>
    </div>

    <div class="main-bottlecollection_gelrows">
     
      <div class="bottls_collection_gelrows">
       
        <label class="gel_btns" for="Img-1" id="Img-Dot-1" img="Group 1694.png">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1047.png?v=1673330689" style="position: relative; left: -50px">
        </label>
  
        <label class="gel_btns" for="Img-2" id="Img-Dot-2" img="Group 1695.png"> <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1046.png?v=1673342966" style="position: relative; left: -10px"></label>
        <label class="gel_btns" for="Img-3" id="Img-Dot-2" img="Group 1696.png"> <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1045.png?v=1673342965" style="position: relative; left: 30px;"></label>
      </div>
    
    </div>
  </div>
</section>
{% schema %}
{
  "name": "collagendrink",
  "tag": "section",
  "class": "section collage-section",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "collagendrink",
      "blocks": []
    }
  ]
}
  
{% endschema %}
