{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --gradient-background: {% if section.settings.gradient_background != blank %}{{ section.settings.gradient_background }}{% else %}{{ section.settings.colors_background }}{% endif %};
    --color-background: {{ section.settings.colors_background.red }}, {{ section.settings.colors_background.green }}, {{ section.settings.colors_background.blue }};
    --color-foreground: {{ section.settings.colors_text.red }}, {{ section.settings.colors_text.green }}, {{ section.settings.colors_text.blue }};
    --color-border: {{ section.settings.colors_border.red }}, {{ section.settings.colors_border.green }}, {{ section.settings.colors_border.blue }};
    --color-link: var(--color-foreground);
    --color-button-text: var(--color-background);
    --color-button-border: var(--color-foreground);
    --color-button-background: var(--color-foreground);
    --color-shadow: var(--color-foreground);
    --shadow-opacity: 0.3;
  }
{%- endstyle -%}
<link rel="stylesheet" href="{{ 'contact-icons.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'contact-icons.css' | asset_url | stylesheet_tag }}</noscript>

  <div class="contact_main">
    <div class="contact___column" >
      <div class="competition1_monthly">
        <div class="contact___content">
          <div class="images1">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_5_71b5a0bf-bdf0-4c95-92a7-fdf8bd76c1cf.png?v=1671792975" class="images1" />
          </div>
        </div>
           <div class="contact___content">
            <p><b>Have a call</b> : (+44) 20 7175 5105</p>
            
           </div>
      </div>
    </div>
    
    <div class="contact___column">
      <div class="competition1_monthly">
        <div class="contact___content">
          <div class="images1">

          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Frame_7_363e7431-3e73-47ae-a998-592f7706927c.png?v=1671793588" class="images2" />
          </div>
        </div>
        <div class="contact___content">
          <p><b>Email</b>: cs@seacra.com</p>
        
  
        </div>
   </div>
  </div>

    <div class="contact___column">
      <div class="competition1_monthly">
        <div class="contact___content">
          <div class="images1">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Frame_8_fa3fbe50-080d-4f12-bc2f-f0ab6a269e50.png?v=1671792999" class="images3" />
        </div>
      </div>
        <div class="contact___content">
          <p ><b>Address</b> : Unit 2, Eley Business Park, Kynoch Road
       London, United Kingdom, N18 3AT </p>
          
  
        </div>
   </div>
  </div>
    </div>
  
  </div>



{% schema %}
{
  "name": "contact-icons",
  "tag": "section",
  "class": "section collage-section",
  "presets": [
    {
      "name": "contact-icons",
      "blocks": []
    }
  ]
}
  
{% endschema %}