{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --gradient-background: {% if section.settings.gradient_background != blank %}{{ section.settings.gradient_background }}{% else %}{{ section.settings.colors_background }}{% endif %};
    --color-background: {{ section.settings.colors_background.red }}, {{ section.settings.colors_background.green }}, {{ section.settings.colors_background.blue }};
    --color-foreground: {{ section.settings.colors_text.red }}, {{ section.settings.colors_text.green }}, {{ section.settings.colors_text.blue }};
    --color-border: {{ section.settings.colors_border.red }}, {{ section.settings.colors_border.green }}, {{ section.settings.colors_border.blue }};
    --color-link: var(--color-foreground);
    --color-button-text: var(--color-background);
    --color-button-border: var(--color-foreground);
    --color-button-background: var(--color-foreground);
    --color-shadow: var(--color-foreground);
    --shadow-opacity: 0.3;
  }
{%- endstyle -%}
<!-- <link rel="stylesheet" href="{{ 'content-creator-a.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'content-creator-a.css' | asset_url | stylesheet_tag }}</noscript> -->
<style>
    @media(min-width:1281px){
.video___main{
   text-align:center;
   justify-content: center;
}
.video___main .contentTxt {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 168%;
  text-align: center;
  color: #4A4A4A;
  text-align: center;
/*   margin: -53px 584px; */
  margin:1px;
}
.video___main .contentTxt .span_contentTxt{
  color:#CC4E61;
}
.video___main .video-wrapper{
  display: flex;
  margin-top: 2rem;
}
.wrapper {
  width: 23%;
  border-radius: 4px;
  margin: 0 auto;
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  float: left;
  padding: 0px 10px;
}
.playpause {
    background-image:url(https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_125.png?v=1672637984);
    background-repeat:no-repeat;
    width:25%;
    height:50%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}
/* .wrapper{
    display:table;
    width:auto;
    position:relative;
    width:30%;
} */
    }
@media(min-width:1025px) and (max-width:1280px){
  .video___main{
   text-align:center;
   justify-content: center;
}
.video___main .contentTxt {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 168%;
  text-align: center;
  color: #4A4A4A;
  text-align: center;
}
.video___main .contentTxt .span_contentTxt{
  color:#CC4E61;
}
.video___main .video-wrapper{
  display: flex;
  margin-top: 4rem;
}
.wrapper {
  width: 28%;
  border-radius: 4px;
  margin: 0 auto;
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  float: left;
  padding: 0px 10px;
}
.wrapper video {
  width: 100%;
  float: left;
  height: 100%;
  border-radius: 4px;
} 
.playpause {
    background-image:url(https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_125.png?v=1672637984);
    background-repeat:no-repeat;
    width:25%;
    height:50%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
  .video___main{
   text-align:center;
   justify-content: center;
}
.video___main .contentTxt {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size:  23px;
  line-height: 168%;
  text-align: center;
  color: #4A4A4A;
  text-align: center;
}
.video___main .contentTxt .span_contentTxt{
  color:#CC4E61;
}
.video___main .video-wrapper{
  display: flex;
  margin-top: 4rem;
}
.wrapper {
  width: 30%;
  border-radius: 4px;
  margin: 0 auto;
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  float: left;
  padding: 0px 10px;
}
.wrapper video {
  width: 100%;
  float: left;
    /* width: 20%; */
  height: 100%;
  border-radius: 4px;
} 
.playpause {
    background-image:url(https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_125.png?v=1672637984);
    background-repeat:no-repeat;
    width:25%;
    height:50%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}
}

@media (min-width:481px) and (max-width:767px){
  .video___main{
        margin: 30px 10px;
     text-align:center;
   justify-content: center;
  }
  .video-container {
    margin-left:2rem;
  }
  .video___main .contentTxt {
   font-size:15px;
    font-weight:bold;
     font-family: 'Poppins';
    font-style: normal;
    text-align: center;
    color: #4A4A4A;
    text-align: center;
  }
  .video___main .contentTxt .span_contentTxt{
    font-size:13px; 
    color:#CC4E61;
  }
  .video___main .video-wrapper{
  display: flex;
  margin-top: 4rem;
}
  .wrapper {
  width: 32%;
  border-radius: 4px;
  margin: 0 auto;
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  float: left;
  padding: 0px 10px;
}
  .wrapper video {
  width: 100%;
  float: left;
  height: 100%;
  border-radius: 4px;
}
.playpause {
    background-image:url(https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_125.png?v=1672637984);
    background-repeat:no-repeat;
    width:25%;
    height:50%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
} 
}
@media (min-width:320px) and (max-width:480px){
  .video___main{
        margin: 15px 10px;
     text-align:center;
   justify-content: center;
  }
  .video-container {
    margin-left:2rem;
  }
  .video___main .contentTxt {
   font-size:15px;
    font-weight:bold;
     font-family: 'Poppins';
    font-style: normal;
    text-align: center;
    color: #4A4A4A;
    text-align: center;
  }
  .video___main .contentTxt .span_contentTxt{
    font-size:13px; 
    color:#CC4E61;
  }
  .video___main .video-wrapper{
  display: flex;
  margin-top: 4rem;
}
  .wrapper {
  width: 34%;
  border-radius: 4px;
  margin: 0 auto;
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  float: left;
  padding: 0px 10px;
}
  .wrapper video {
  width: 100%;
  float: left;
  height: 100%;
  border-radius: 4px;
} 
.playpause {
    background-image:url(https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_125.png?v=1672637984);
    background-repeat:no-repeat;
    width:25%;
    height:50%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}
}
@media (max-width:319px){
  .video___main{
        margin: 15px 10px;
     text-align:center;
   justify-content: center;
  }
  .video-container {
    margin-left:2rem;
  }
  .video___main .contentTxt {
   font-size:15px;
    font-weight:bold;
     font-family: 'Poppins';
    font-style: normal;
    text-align: center;
    color: #4A4A4A;
    text-align: center;
  }
  .video___main .contentTxt .span_contentTxt{
    font-size:13px; 
    color:#CC4E61;
  }
  .video___main .video-wrapper{
  display: flex;
  margin-top: 4rem;
}
  .wrapper {
  width: 33%;
  border-radius: 4px;
  margin: 0 auto;
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  float: left;
  padding: 0px 10px;
}
  .wrapper video {
  width: 100%;
  float: left;
  height: 100%;
  border-radius: 4px;
} 
.playpause {
    background-image:url(https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_125.png?v=1672637984);
    background-repeat:no-repeat;
    width:25%;
    height:50%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="video___main">


<h1 class="contentTxt">Content Creators sharing our <br/>
	<span class="span_contentTxt">Recover & Repair Gel with their Audience</span></h1>
<div class="video-wrapper">
	<div class="wrapper" >
		<video class="video" >
			<source src="https://cdn.shopify.com/videos/c/o/v/bc2624bed55f4452b4990acd60273ca7.mp4" type="video/mp4">
		</video>
        <div class="playpause"></div>

	</div>

	<div class="wrapper" >
		<video class="video">
			<source src="https://cdn.shopify.com/videos/c/o/v/b65f173baaa8456d9c9408ab5b547b85.mp4" type="video/mp4">
		</video>
        <div class="playpause"></div>

	</div>

	<div class="wrapper" >
		<video class="video">
			<source src="https://cdn.shopify.com/videos/c/o/v/c01133d23dab4e879448ea0cab3516a2.mp4" type="video/mp4">
		</video>
        <div class="playpause"></div>

	</div>
</div>
</div>

<script>
   $('.video').parent().click(function () {
  if($(this).children(".video").get(0).paused){        $(this).children(".video").get(0).play();   $(this).children(".playpause").fadeOut();
    }else{       $(this).children(".video").get(0).pause();
  $(this).children(".playpause").fadeIn();
    }
});
</script>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="video___main">


<h1 class="contentTxt">Content Creators sharing our <br/>
	<span class="span_contentTxt">Recover & Repair Gel with their Audience</span></h1>
<div class="video-wrapper">
	<div class="wrapper" >
		<video class="video" >
			<source src="https://cdn.shopify.com/videos/c/o/v/bc2624bed55f4452b4990acd60273ca7.mp4" type="video/mp4">
		</video>
        <div class="playpause"></div>

	</div>

	<div class="wrapper" >
		<video class="video">
			<source src="https://cdn.shopify.com/videos/c/o/v/b65f173baaa8456d9c9408ab5b547b85.mp4" type="video/mp4">
		</video>
        <div class="playpause"></div>

	</div>

	<div class="wrapper" >
		<video class="video">
			<source src="https://cdn.shopify.com/videos/c/o/v/c01133d23dab4e879448ea0cab3516a2.mp4" type="video/mp4">
		</video>
        <div class="playpause"></div>

	</div>
</div>
</div> -->
{% schema %}
{
  "name": "content creator a",
  "tag": "section",
  "class": "section collage-section",
  "presets": [
    {
      "name": "content creator a",
      "blocks": []
    }
  ]
}
  
{% endschema %}