{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --gradient-background: {% if section.settings.gradient_background != blank %}{{ section.settings.gradient_background }}{% else %}{{ section.settings.colors_background }}{% endif %};
    --color-background: {{ section.settings.colors_background.red }}, {{ section.settings.colors_background.green }}, {{ section.settings.colors_background.blue }};
    --color-foreground: {{ section.settings.colors_text.red }}, {{ section.settings.colors_text.green }}, {{ section.settings.colors_text.blue }};
    --color-border: {{ section.settings.colors_border.red }}, {{ section.settings.colors_border.green }}, {{ section.settings.colors_border.blue }};
    --color-link: var(--color-foreground);
    --color-button-text: var(--color-background);
    --color-button-border: var(--color-foreground);
    --color-button-background: var(--color-foreground);
    --color-shadow: var(--color-foreground);
    --shadow-opacity: 0.3;
  }
{%- endstyle -%}
<link rel="stylesheet" href="{{ 'contact-icons.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'contact-icons.css' | asset_url | stylesheet_tag }}</noscript>

  <div class="contact_main">
    <div class="contact___column" >
      <div class="competition1_monthly">
        <div class="contact___content">
          <div class="images1">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/ic_baseline-whatsapp_0634a0c7-87c5-4bd1-800a-df9d15c82933.png?v=1670497874" class="images1" style="width: 61px;"/>
          </div>
        </div>
           <div class="contact___content">
            <p style="position: relative;top: 13px;"><b>Have a call</b> : (+44) 20 7175 5105</p>
            
           </div>
      </div>
    </div>
    
    <div class="contact___column">
      <div class="competition1_monthly">
        <div class="contact___content">
          <div class="images1">

          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Frame_38_0577ee19-00df-475a-98d3-8fe4b2044614.png?v=1670498001" class="images2" style="width: 61px;"/>
          </div>
        </div>
        <div class="contact___content">
          <p style="position: relative;top: 13px;"><b>Email</b>: cs@seacra.com</p>
        
  
        </div>
   </div>
  </div>

    <div class="contact___column">
      <div class="competition1_monthly">
        <div class="contact___content">
          <div class="images1">
          <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Frame_39_ab053626-5180-470c-8774-d5a1de2c104e.png?v=1670498108" class="images3" style="width: 48px;" />
        </div>
      </div>
        <div class="contact___content">
          <p style="left: -17px;
    position: relative;"><b>Address</b> : Unit 2, Eley Business Park, Kynoch Road
       London, United Kingdom, N18 3AT </p>
          
  
        </div>
   </div>
  </div>
    </div>
  
  </div>



{% schema %}
{
  "name": "contact-icons",
  "tag": "section",
  "class": "section collage-section",
  "presets": [
    {
      "name": "contact-icons",
      "blocks": []
    }
  ]
}
  
{% endschema %}