{%- style -%}
  #shopify-section-{{ section.id }}{
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{%- endstyle -%}

<link
  rel="stylesheet"
  href="{{ 'image-comparision-on-slider.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>
<link rel="stylesheet" href="{{ 'slick.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'slick-theme.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'image-comparision-on-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'slick.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'slick-theme.css' | asset_url | stylesheet_tag }}</noscript>

<div class="image-comparing-slider">
    <!-- one -->
    <div class="inner">
      <div class="ba-slider rosacea">
        <img
          class="img"
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_27_d4c9dafd-3867-46d9-b600-ec780ee7c4f5.png?v=1669093871"
          style="width: 100%;"
        >
        <div class="resize">
          <img
            class="img"
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_26_94d39e1c-d92f-4ca3-adce-48ab3972225b.png?v=1669093870"
          >
        </div>
        <span class="handle"></span>
      </div>
      <div>
      <fieldset class="rosacea-reviews">
        <legend class="legend-title"><h4>Acne</h4><p> After 28 days </p></legend> 
        <div class="customer">
        	<div class="customer-name">
        		<h1> Alisha </h1>
        		<p class="alisha-stars">✭✭✭✭✭</p>
        	</div>
        	<div class="comments">
        		<p class="large-quotes"><i>"</i></p>
        		<p class="comments-text">
        			The gel was very effective in managing my skin’s redness. Feeling alot more glowy already! I usually get left with marks when I’ve had spots but since using the gel I’m not left with marks and they just disappear.
        		</p>
        	</div>
        </div>
      </fieldset>
    </div>
</div>
<script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'image-comparision-on-slider-customer.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "Customer Review Comapre",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "Customer Review Comapree",
      "blocks": []
    }
  ]
}
{% endschema %}
