{%- style -%}
  #shopify-section-{{ section.id }}{
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{%- endstyle -%}

<link
  rel="stylesheet"
  href="{{ 'image-comparision-on-slider.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>
<link rel="stylesheet" href="{{ 'slick.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'slick-theme.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'image-comparision-on-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'slick.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'slick-theme.css' | asset_url | stylesheet_tag }}</noscript>

<div class="image-comparing-slider">
  <div class="gallery gallery-responsive portfolio_slider">
    <!-- one -->
    <div class="inner">
      <div class="ba-slider">
        <img
          class="img"
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_17_05b4e627-fa51-490b-9603-aa229ea7e943.png?v=1669093176"
        >
        <div class="resize">
          <img
            class="img"
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_13_0e33c0fe-33d6-47a1-9938-9e93bb42931d.png?v=1669092957"
          >
        </div>
        <span class="handle"></span>
      </div>
      <div>
      <fieldset class="acne-reviews">
        <legend class="legend-title"><h4>Acne</h4><p> After 28 days </p></legend> 
        <div class="customer">
        	<div class="customer-name">
        		<h1> Alisha </h1>
        		<p class="alisha-stars">✭✭✭✭✭</p>
        	</div>
        	<div class="comments">
        		<p class="large-quotes"><i>"</i></p>
        		<p class="comments-text">
        			The gel was very effective in managing my skin’s redness. Feeling alot more glowy already! I usually get left with marks when I’ve had spots but since using the gel I’m not left with marks and they just disappear.
        		</p>
        	</div>
        </div>
    	</fieldset>
    	<div class="ninety-seven">
    		<h1 class="percent">97%</h1>
    		<p class="success-text">
    			Success rate in all clinical trials within 28 days using Recovery & Repair Gel.
    		</p>
    	</div>
    </div>
  </div>
</div>
<script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'image-comparision-on-slider.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "Acne Comapre",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "Acne Comapree",
      "blocks": []
    }
  ]
}
{% endschema %}
