{%- style -%}
  #shopify-section-{{ section.id }}{
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{%- endstyle -%}

<link
  rel="stylesheet"
  href="{{ 'image-comparision-on-slider.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>
<link rel="stylesheet" href="{{ 'slick.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'normalize.min.css' |asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'slick-theme.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'image-comparision-on-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'slick.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'slick-theme.css' | asset_url | stylesheet_tag }}</noscript>

<div class="gallery gallery-responsive portfolio_sliderA">
    <!-- one -->
    <div class="inner">
      <div class="ba-slider">
        <img
          class="img"
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1224.jpg?v=1669636470"
        >
       </div>

    <!-- two -->
    <div class="inner">
      <div class="ba-slider">
        <img
          class="img"
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1217.jpg?v=1669636539"
        >
       
    <!-- three -->
    <div class="inner">
      <div class="ba-slider">
        <img
          class="img"
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1218_1.jpg?v=1669636551"
        >
        
    </div>
    <!-- four -->
    <div class="inner">
      <div class="ba-slider">
        <img
          class="img"
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1219_1.jpg?v=1669636589"
        >     
        </div>      
    <!-- five -->
    <div class="inner">
      <div class="ba-slider">
        <img
          class="img"
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1221.jpg?v=1669636614"
        >
      </div>
    <!-- six -->
    <div class="inner">
      <div class="ba-slider">
        <img
          class="img"
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1220.jpg?v=1669636639"
        >
      </div>

    <!-- seven -->
    <div class="inner">
      <div class="ba-slider">
        <img
          class="img"
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1222_1.jpg?v=1669636662"
        >
       </div>

    <!-- eight -->

    <div class="inner">
      <div class="ba-slider">
        <img
          class="img"
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1223.jpg?v=1669636683"
        >
       </div>
<script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>
<script src='./jquery.min.js'></script>
<script src="{{ 'image-comparision-on-slider.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "customer-slide",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "customer-slide",
      "blocks": []
    }
  ]
}
{% endschema %}
