{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{%- endstyle -%}

{{ 'FAQ-section.css' | asset_url | stylesheet_tag }}
{{ 'collapsible.css' | asset_url | stylesheet_tag }}
<!-- {{ 'collapsible.js' | asset_url | stylesheet_tag }} -->
<div class="section--padding{% if section.settings.show_divider %} section--divider{% endif %}">
  <div class="page-width{% if section.settings.narrow %} page-width--inner{% endif %}">
     <div class="faq">
      <div class="title-wrapper-faq{% if section.settings.heading == blank %} title-wrapper--no-heading{% endif %} {{ section.settings.heading_alignment }} home-faq-title">
        <{{ section.settings.heading_tag }} class="pink-and-bold-it{% if section.settings.home %} faq-title{% endif %} {{ section.settings.heading_size }}">
          {{- section.settings.heading | escape -}}
        </{{ section.settings.heading_tag }}>
      </div>

      <div class="home-faq collapsible-faq">
        <accordion-tab class="accordion" {{ block.shopify_attributes }}>
          <details
            {% if section.settings.open_first_collapsible_row and forloop.index0 == 0 %}
              open="open"
            {% endif %}
          >
            <!-- First Row -->
            <summary>
              <span class="summary__title">
                <p class="accordion__title h3">Product & Ingredients</p>
              </span>
              <span class="icon icon-plus-alt"></span>
            </summary>
            <button type="button" class="collapsible">Do you use high-quality ingredients?</button>
            <div class="content">
              <p>
                All our ingredients are fully biodegradable. Seacra products are formulated with the highest quality,
                natural, organic, biodynamic and wild-harvested ingredients that have been ethically sourced by
                companies who care about your health and the health of our planet.

                If you have questions about any of the ingredients do not hesitate to email us at contact@seacra.com
              </p>
            </div>
            <button type="button" class="collapsible">Are your products cruelty-free?</button>
            <div class="content">
              <p>Yes! We never test our products on animals and never will.</p>
            </div>
            <button type="button" class="collapsible">Are Seacra products suitable for all skin types?</button>
            <div class="content">
              <p>
                All Seacra products are suitable for dry, oily, combination and sensitive skin. However, due to the high
                lipid component of red algae, hydration is at its core, meaning Seacra products are especially effective
                at replenishing and healing dry, irritable, and sensitive skin.
              </p>
            </div>
            <button type="button" class="collapsible">Where are Seacra products made?</button>
            <div class="content">
              <p>All our products are developed and manufactured in Spain.</p>
            </div>
            <button type="button" class="collapsible">Who are Seacra products suitable for?</button>
            <div class="content">
              <p>
                Our products have been clinically tested and are safe for all ages and skin types including pregnant
                women.
              </p>
            </div>
            <button type="button" class="collapsible">How can one product be suitable for everyone?</button>
            <div class="content">
              <p>
                Red algae activate a cascade of natural processes within your skin encouraging it to heal and recover by
                itself. Red algae also amplify the work of any other natural ingredient in your skin regimen.
              </p>
            </div>
            <button type="button" class="collapsible">
              Can I replace other products in my skin regimen with Seacra?
            </button>
            <div class="content">
              <p>
                We encourage people to cleanse, tone, Seacra, SPF and go however, those with particularly dry or
                sensitive skin may still need to moisturise. Astaxanthin (the bioactive compound in red algae) is 6,000
                times more potent than Vitamin C and 100 times more potent than vitamin E in combatting reactive
                oxidative stress. It is also ten-times richer in vitamin A (a natural alternative to retinol), a super
                hydrator with a greater moisturising effect when compared to hyaluronic acid and increased
                anti-inflammatory activity when compared to most anti-inflammatory drugs.
              </p>
            </div>
            <div class="accordion__content rte typeset">
              <!--
                {{ block.settings.row_content }}
                {{ block.settings.page.page }}
              -->
            </div>
          </details>
        </accordion-tab>
        <accordion-tab class="accordion" {{ block.shopify_attributes }}>
          <details
            {% if section.settings.open_first_collapsible_row and forloop.index0 == 0 %}
              open="open"
            {% endif %}
          >
            <!-- Second Row -->
            <summary>
              <span class="summary__title">
                <p class="accordion__title h3">The science behind Red Algae</p>
              </span>
              <span class="icon icon-plus-alt"></span>
            </summary>
            <button type="button" class="collapsible">What makes your Red Algae gel different?</button>
            <div class="content">
              <p>
                Our innovative cold-processing technique allows us to preserve the highest concentrates of vitamins and
                minerals as well as nutrients in our products. Without using heat extraction, we cold press our
                ingredients, which makes our Red Algae gel ten times more potent than any others on the market.

                If you have questions about any of the ingredients do not hesitate to email us at contact@seacra.com
              </p>
            </div>
            <button type="button" class="collapsible">What are the unique properties of Red Algae?</button>
            <div class="content">
              <p>
                Red Algae offers the ultimate multipurpose skincare product for all skin types. The active ingredient,
                Astaxanthin, has the following skincare properties: anti-aging (14%), antioxidant (39%),
                anti-inflammatory (14%), anti-melanogenic (7%), anticancer (5%), and antimicrobial (21%).
              </p>
            </div>
            <button type="button" class="collapsible">How will Red Algae help reduce my skin pigmentation?</button>
            <div class="content">
              <p>
                Red Algae helps reduce your skin pigmentation in two ways. Firstly, it inhibits the overproduction of
                melanin synthesis (the most common reason for skin pigmentation). Secondly, it contains one of the most
                powerful antioxidants, Astaxanthin, which has been proven to be 6,000 times more potent than Vitamin C
                and 100 times more potent than Vitamin E in combating free radicals. It is these free radicals that are
                responsible for activating the overproduction of melanin and causing pigmentations and dark patches.
              </p>
            </div>
            <button type="button" class="collapsible">How can Red Algae help with Eczema flare-ups?</button>
            <div class="content">
              <p>
                People with eczema have an impaired skin barrier, which can cause dryness and other issues. Red algae's
                polysaccharides have a greater moisturizing effect when compared to hyaluronic acid, and contain
                powerful antioxidants that shield your skin from many environmental stressors that can cause flare-ups.
              </p>
            </div>
            <button type="button" class="collapsible">
              How can the benefits of Red Algae be helpful to Rosacea sufferers?
            </button>
            <div class="content">
              <p>
                People with Rosacea have higher levels of abnormally processed cathelicidins, which are inflammatory
                mediators that are part of the skin's defense system. The polysaccharides in Red Algae appear to have
                greater anti-inflammatory activity than most anti-inflammatory drugs and may help reduce inflammation
                caused by rosacea.
              </p>
            </div>
            <button type="button" class="collapsible">Do I need to use SPF if Red Algae protects from UV rays?</button>
            <div class="content">
              <p>
                Yes, while Red Algae has many potent antioxidants, it is always important to wear sunscreen. Cleanse,
                tone, Seacra and then SPF. To prevent premature ageing, the antioxidants in red algae combined with the
                SPF in your sunscreen are known as the perfect combination for healthy, youthful skin.
              </p>
            </div>
            <div class="accordion__content rte typeset">
              <!--
                {{ block.settings.row_content }}
                {{ block.settings.page.page }}
              -->
            </div>
          </details>
        </accordion-tab>
        <accordion-tab class="accordion" {{ block.shopify_attributes }}>
          <details
            {% if section.settings.open_first_collapsible_row and forloop.index0 == 0 %}
              open="open"
            {% endif %}
          >
            <!-- Third Row -->
            <summary>
              <span class="summary__title">
                <p class="accordion__title h3">Shipping/Returns</p>
              </span>
              <span class="icon icon-plus-alt"></span>
            </summary>
            <button type="button" class="collapsible">Where does Seacra ship and how?</button>
            <div class="content">
              <p>
                We ship internationally. All UK orders and international orders over £200 are free. Bulk or oversized
                orders may incur an additional delivery charge. Please note that any additional VAT or customs fees
                incurred in the destination country are the responsibility of the customer. We cannot guarantee shipping
                times for international shipments. While we do provide tracking numbers on all shipments, not every
                country we ship to tracks shipments all the way to the destination. While most our shipments arrive
                without issue, we cannot be responsible for lost or stolen shipments.
              </p>
            </div>
            <button type="button" class="collapsible">What countries do you ship to?</button>
            <div class="content">
              <p>
                Austria, Australia, Azerbaijan, Bahamas, Bahrain, Belarus, Belgium, British Virgin Islands, Cayman
                Islands, Croatia, Cyprus, Czech Republic, Denmark, Estonia, Finland, France, Germany, Great Britain,
                Greece, Greenland, Hong Kong, Iceland, Italy, India, Indonesia, Ireland, Israel, Italy, Japan,
                Kazakhstan, Kyrgyzstan, Kuwait, Latvia, Lithuania, Luxembourg, New Caledonia, Macao, Malaysia, Malta,
                The Republic of Moldova, Montenegro, The Netherlands, New Zealand, Norway, Philippines, Poland,
                Portugal, Reunion, Romania, Russian Federation, Saudi Arabia, Singapore, Slovakia, Slovenia, South
                Africa, South Korea, Spain, Sri Lanka, Sweden, Switzerland, Taiwan, Thailand, the U.A.E. and Uzbekistan.
              </p>
            </div>
            <button type="button" class="collapsible">What do I do if haven’t received my order yet?</button>
            <div class="content">
              <p>
                If you haven’t received your order, please check the delivery status directly with the courier company
                using the tracking number provided in your order confirmation email. If you still have no visibility on
                delivery status, please email contact@seacra.com with details including your order number and we will
                work to resolve the issue.
              </p>
            </div>
            <button type="button" class="collapsible">Do you offer free shipping?</button>
            <div class="content">
              <p>
                Yes. All UK orders are free of charge and international orders over £200 are free. Bulk or oversized
                orders may incur an additional delivery charge.
              </p>
            </div>
            <button type="button" class="collapsible">How can I track my order?</button>
            <div class="content">
              <p>
                Once your order has shipped, you will receive an email that will include the tracking number from the
                delivery courier.
              </p>
            </div>
            <button type="button" class="collapsible">What is your return policy?</button>
            <div class="content">
              <p>
                If you are not happy with your Seacra product you can return to us, free-of-charge within a 30-day
                period. Please contact us at contact@seacra.com to set up a return.
              </p>
            </div>
            <button type="button" class="collapsible">What should I do if I entered the wrong delivery address?</button>
            <div class="content">
              <p>
                Please contact us at contact@seacra.com and we will do our best to update this for you before your order
                is shipped.
              </p>
            </div>
            <button type="button" class="collapsible">What should I do if my order’s arrived broken or damaged?</button>
            <div class="content">
              <p>
                Firstly, we are extremely sorry! We pride ourselves on our product and packaging quality working with
                high-quality suppliers. Please contact us at contact@seacra.com and we will fix the problem immediately.
              </p>
            </div>

            <div class="accordion__content rte typeset">
              <!--
                {{ block.settings.row_content }}
                {{ block.settings.page.page }}
              -->
            </div>
          </details>
        </accordion-tab>
        <accordion-tab class="accordion" {{ block.shopify_attributes }}>
          <details
            {% if section.settings.open_first_collapsible_row and forloop.index0 == 0 %}
              open="open"
            {% endif %}
          >
            <!-- Fourth Row -->
            <summary>
              <span class="summary__title">
                <p class="accordion__title h3">Seacra’s Account & Discounts</p>
              </span>
              <span class="icon icon-plus-alt"></span>
            </summary>
            <button type="button" class="collapsible">How do I use my discount code?</button>
            <div class="content">
              <p>You can add your discount code into the ‘Discount’ box at the Checkout</p>
            </div>
            <button type="button" class="collapsible">
              I forgot to add my discount code, can I apply it after placing my order?
            </button>
            <div class="content">
              <p>
                No. All discount codes must be applied prior to placing the order. If you have any further queries then
                please contact our friendly customer care team at contact@seacra.com.
              </p>
            </div>
            <button type="button" class="collapsible">Can I checkout as a guest?</button>
            <div class="content">
              <p>
                Yes. If you wish to repurchase items you can save your personal and shipping details to your SEACRA
                account for easier and repeat access.
              </p>
            </div>
            <button type="button" class="collapsible">How do I create an account?</button>
            <div class="content">
              <p>
                You can create a SEACRA account by going to the ‘Create Account’ page, input your details and create a
                password. Click 'Create' to confirm and you’re done!
              </p>
            </div>
            <button type="button" class="collapsible">I forgot my password, how do I reset it?</button>
            <div class="content">
              <p>
                Go to your SEACRA account login page and click 'Forgot Password'. Enter your email address and we will
                send a link to the registered email address on your account to reset your password.
              </p>
            </div>
            <button type="button" class="collapsible">How do I get a discount?</button>
            <div class="content">
              <p>
                We offer a number of different ways to give you a discount. Sign-up to our newsletter to keep up-to-date
                on the latest skincare news and we’ll give you a 10% discount as a thank you. Refer a friend and tell
                them about how Seacra has changed your skin for good and earn a 10% reward. And you can also join our
                Ambassador Program to work with us and earn discounts and free product!
              </p>
            </div>
            <div class="accordion__content rte typeset">
              <!--
                {{ block.settings.row_content }}
                {{ block.settings.page.page }}
              -->
            </div>
          </details>
        </accordion-tab>
        <accordion-tab class="accordion" {{ block.shopify_attributes }}>
          <details
            {% if section.settings.open_first_collapsible_row and forloop.index0 == 0 %}
              open="open"
            {% endif %}
          >
            <!-- Fifth Row -->
            <summary>
              <span class="summary__title">
                <p class="accordion__title h3">Payments</p>
              </span>
              <span class="icon icon-plus-alt"></span>
            </summary>
            <button type="button" class="collapsible">What payment methods do you take?</button>
            <div class="content">
              <p>
                We accept all major debit/credit cards (Mastercard, Visa, American Express) as well as PayPal, Apple Pay
                and Stripe.
              </p>
            </div>
            <button type="button" class="collapsible">What should I do if my payment is declined?</button>
            <div class="content">
              <p>
                If your payment has been declined, please contact your bank or payment provider for support or try
                another payment method.
              </p>
            </div>
            <button type="button" class="collapsible">What happens if I received the wrong order?</button>
            <div class="content">
              <p>
                If your order has been incorrectly fulfilled, please email contact@seacra.co.uk immediately on receipt
                including details and your order number and we will work to resolve the issue.
              </p>
            </div>
            <button type="button" class="collapsible">Is my transaction secure?</button>
            <div class="content">
              <p>
                When purchasing on our website you can be assured your payment is safe and secure. Your credit card
                details are secured by SSL-encrypted technology and will never be stored online without your permission.
              </p>
            </div>
            <div class="accordion__content rte typeset">
              <!--
                {{ block.settings.row_content }}
                {{ block.settings.page.page }}
              -->
            </div>
          </details>
        </accordion-tab>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.8/js/intlTelInput-jquery.min.js"
></script>
<script src="{{ 'collapsible.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "FAQ-page",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "open_first_collapsible_row",
      "default": false,
      "label": "t:sections.collapsible_content.settings.open_first_collapsible_row.label"
    },
    {
      "type": "checkbox",
      "id": "narrow",
      "default": false,
      "label": "t:sections.all.narrow.label"
    },
    {
      "type": "checkbox",
      "id": "home",
      "default": false,
      "label": "Is it Home?"
    },
    {
      "type": "checkbox",
      "id": "show_divider",
      "default": false,
      "label": "t:sections.all.show_divider.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.label"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Collapsible content",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.all.heading_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.heading_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.heading_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.heading_alignment.options__3.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.all.heading_tag.options__7.label"
        },
        {
          "value": "span",
          "label": "t:sections.all.heading_tag.options__8.label"
        },
        {
          "value": "p",
          "label": "t:sections.all.heading_tag.options__9.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_tag.label",
      "info": "t:sections.all.heading_tag.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.header.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "collapsible_row",
      "name": "Home-faq",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible row",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.heading.label",
          "info": "t:sections.collapsible_content.blocks.collapsible_row.settings.heading.info"
        },
        {
          "type": "richtext",
          "id": "row_content",
          "default": "<p>Use collapsible tabs for more detailed information that will help customers make a purchasing decision.</p><p>Ex: Shipping and return policies, size guides, and other common questions.</p>",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.row_content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.page.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ-page",
      "blocks": [
        {
          "type": "collapsible_row"
        },
        {
          "type": "collapsible_row"
        },
        {
          "type": "collapsible_row"
        },
        {
          "type": "collapsible_row"
        }
      ]
    }
  ]
}
{% endschema %}
