{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  #Gallery-{{ section.id }} {
    --image-height: {{ section.settings.mobile_image_height }}px;
  }

  @media screen and (min-width: 750px) {
    #Gallery-{{ section.id }} {
      --grid-horizontal-spacing: {{ section.settings.spacing_images }}px;
      --image-height: {{ section.settings.image_height }}px;
    }
  }
{%- endstyle -%}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'section-gallery.css' | asset_url | stylesheet_tag }}

<div class="container">  
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="image-text-overlay text-bottom-center text-white" style="background-image: url(https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_30.jpg?v=1670395848);">        
          <p>
            <span class="overlay-title">100%</span><br>
            <span class="overlay">Agreed that their skin was more</span><br>
            <span class="overlay-subtext">Hydrated</span>
          </p>
          <div class="overlay-black"></div>       
        </div>
      </div>
          <div class="col-md-4 col-xs-12">
        <div class="image-text-overlay text-bottom-center text-white" style="background-image: url(https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_29.jpg?v=1670395844);">        
          <p>
            <span class="overlay-title">95%</span><br>
            <span class="overlay">Agreed that their visible bumps & blemishes</span><br>
            <span class="overlay-subtext">had Faded</span>
          </p>
          <div class="overlay-black"></div>       
        </div>
      </div>
         <div class="col-md-4 col-xs-12">
        <div class="image-text-overlay text-bottom-center text-white" style="background-image: url(https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_28.jpg?v=1670395841);">        
          <p>
            <span class="overlay-title">90%</span><br>
            <span class="overlay">Agreed that their skin became</span><br>
            <span class="overlay-subtext">Brighter</span>
          </p>
          <div class="overlay-black"></div>       
        </div>
      </div>
  </div>

{% schema %}
{
  "name": "t:sections.my-gallery.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "per_row",
      "label": "t:sections.gallery.settings.per_row.label",
      "default": 4,
      "min": 1,
      "max": 6,
      "step": 1
    },
    {
      "type": "range",
      "id": "spacing_images",
      "min": 0,
      "max": 60,
      "step": 2,
      "unit": "t:sections.gallery.settings.spacing_images.unit",
      "label": "t:sections.gallery.settings.spacing_images.label",
      "default": 2
    },
    {
      "type": "range",
      "id": "image_height",
      "min": 100,
      "max": 1000,
      "step": 10,
      "unit": "t:sections.gallery.settings.image_height.unit",
      "label": "t:sections.gallery.settings.image_height.label",
      "default": 280
    },
    {
      "type": "checkbox",
      "id": "apply_overlay",
      "default": true,
      "label": "t:sections.gallery.settings.apply_overlay.label",
      "info": "t:sections.gallery.settings.apply_overlay.info"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "t:sections.all.full_width.label"
    },
    {
      "type": "checkbox",
      "id": "show_divider",
      "default": false,
      "label": "t:sections.all.show_divider.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.label"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Gallery",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
     {
      "type": "select",
      "id": "heading1_size1",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.all.heading_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.heading_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.heading_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.heading_alignment.options__3.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.all.heading_tag.options__7.label"
        },
        {
          "value": "span",
          "label": "t:sections.all.heading_tag.options__8.label"
        },
        {
          "value": "p",
          "label": "t:sections.all.heading_tag.options__9.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_tag.label",
      "info": "t:sections.all.heading_tag.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile_layout.header.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.all.mobile_layout.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.all.mobile_layout.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.all.mobile_layout.columns_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": true,
      "label": "t:sections.all.mobile_layout.swipe_on_mobile.label"
    },
    {
      "type": "range",
      "id": "mobile_image_height",
      "min": 100,
      "max": 600,
      "step": 10,
      "unit": "t:sections.gallery.settings.mobile_image_height.unit",
      "label": "t:sections.gallery.settings.mobile_image_height.label",
      "default": 160
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.header.content"
    },
    
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.gallery.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.all.image.label"
        },
        {
          "type": "select",
          "id": "image_position",
          "options": [
            {
              "value": "20% 0",
              "label": "t:sections.all.image_position.options__1.label"
            },
            {
              "value": "top center",
              "label": "t:sections.all.image_position.options__2.label"
            },
            {
              "value": "80% 0",
              "label": "t:sections.all.image_position.options__3.label"
            },
            {
              "value": "20% 50%",
              "label": "t:sections.all.image_position.options__4.label"
            },
            {
              "value": "center center",
              "label": "t:sections.all.image_position.options__5.label"
            },
            {
              "value": "80% 50%",
              "label": "t:sections.all.image_position.options__6.label"
            },
            {
              "value": "20% 100%",
              "label": "t:sections.all.image_position.options__7.label"
            },
            {
              "value": "bottom center",
              "label": "t:sections.all.image_position.options__8.label"
            },
            {
              "value": "80% 100%",
              "label": "t:sections.all.image_position.options__9.label"
            }
          ],
          "default": "center center",
          "label": "t:sections.all.image_position.label",
          "info": "t:sections.all.image_position.info"
        },
        {
          "type": "text",
          "id": "subheading",
          "default": "Subheading",
          "label": "t:sections.all.subheading.label"
        },
        {
          "type": "select",
          "id": "subheading_size",
          "options": [
            {
              "value": "h5",
              "label": "t:sections.all.subheading_size.options__1.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.subheading_size.options__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.subheading_size.options__3.label"
            }
          ],
          "default": "h5",
          "label": "t:sections.all.subheading_size.label"
        },
        {
          "type": "text",
          "id": "heading1",
          "default": "Tell your story",
          "label": "t:sections.all.heading.label"
        },
         {
          "type": "text",
          "id": "heading",
          "default": "Tell your story",
          "label": "t:sections.all.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h3",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.gallery.blocks.image.settings.link.label"
        },
        {
          "type": "select",
          "id": "text_box_position",
          "options": [
            {
              "value": "top-left",
              "label": "t:sections.gallery.blocks.image.settings.text_box_position.options__1.label"
            },
            {
              "value": "top-center",
              "label": "t:sections.gallery.blocks.image.settings.text_box_position.options__2.label"
            },
            {
              "value": "top-right",
              "label": "t:sections.gallery.blocks.image.settings.text_box_position.options__3.label"
            },
            {
              "value": "middle-left",
              "label": "t:sections.gallery.blocks.image.settings.text_box_position.options__4.label"
            },
            {
              "value": "middle-center",
              "label": "t:sections.gallery.blocks.image.settings.text_box_position.options__5.label"
            },
            {
              "value": "middle-right",
              "label": "t:sections.gallery.blocks.image.settings.text_box_position.options__6.label"
            },
            {
              "value": "bottom-left",
              "label": "t:sections.gallery.blocks.image.settings.text_box_position.options__7.label"
            },
            {
              "value": "bottom-center",
              "label": "t:sections.gallery.blocks.image.settings.text_box_position.options__8.label"
            },
            {
              "value": "bottom-right",
              "label": "t:sections.gallery.blocks.image.settings.text_box_position.options__9.label"
            }
          ],
          "default": "bottom-left",
          "label": "t:sections.gallery.blocks.image.settings.text_box_position.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "my-gallery",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
