{%- style -%}
  #shopify-section-{{ section.id }}{
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{%- endstyle -%}

<link
  rel="stylesheet"
  href="{{ 'graph-slider.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>
<link rel="stylesheet" href="{{ 'slick.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'normalize.min.css' |asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'slick-theme1.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'graph-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'slick.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'slick-theme1.css' | asset_url | stylesheet_tag }}</noscript>
<section>
  <h1 class="subjective_lines">Subjective Questionnaire</h1>
<div class="gallery gallery-responsive portfolio_slider graph-slider">
<!--   <button type="button" class="slick-prev slick-arrow prev" arial-label="previous" role="button">Previous</button> -->
    <div class="inner slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width:1200px;">
      <img class="graph-image" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1601.png?v=1672143577"></div>
    <div class="inner slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide02" style="width:1200px;">
      <img class="graph-image" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1095_1.png?v=1672145040"></div>
    <div class="inner slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide03" style="width:1200px;">
      <img class="graph-image" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1096.png?v=1672145246"></div>
    <div class="inner slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide04" style="width:1200px;">
      <img class="graph-image" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1097.png?v=1672145364"></div>
    <div class="inner slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide05" style="width:1200px;">
      <img class="graph-image" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1098.png?v=1672145531"></div>
    <div class="inner slick-slide" data-slick-index="6" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide06" style="width:1200px;">
      <img class="graph-image" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1099.png?v=1672145661"></div>
    <div class="inner slick-slide" data-slick-index="7" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide07" style="width:1200px;">
      <img class="graph-image" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1100.png?v=1672145738"></div>
    <div class="inner slick-slide" data-slick-index="8" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide08" style="width:1200px;">
      <img class="graph-image" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1101.png?v=1672145795"></div>
<!--    <button type="button" class="slick-next slick-arrow next" aria-label="Next" role="button" style="position:absolute;display: block;right: 30px;">Next</button> -->
</div>
  </section>
<script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'graph-slider.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "graph-slider",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
  {
    "name": "graph-slider",
      "blocks": []
    }
  ]
}
{% endschema %}
