<!-- Link Swiper's CSS -->
<link
  rel="stylesheet"
  href="{{ 'prod_bundle.css' | asset_url }}"
>
<link rel="stylesheet" href="{{ 'slick.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'slick-prod-theme.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'slick.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'slick-prod-theme.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'prod_bundle.css' | asset_url | stylesheet_tag }}</noscript>


<div class="prod-bundle">
  <div class="prod prod-3-col-responsive portfolio_prod_slider">
    <!-- one -->
      <div class="inner">
        <div class="ba-slider">
          <img
            class="first-one-prod"
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/DSC_0027_1.jpg?v=1671623511"
          >
          <div style="line-height: 0.5; ">
            <h2 style="color: #cc4e61; font-size: larger;line-height: inherit;">Recovery & Repair Gel 50ml</h2>
            <p style="color: #cc4e61; text-align: center;line-height: 1.5;">Clinically proven Acne & Rosacea gel</p>
            <p style="color: #FFCD4E; text-align: center;">
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span style="color: #4a4a4a; ">(102 Reviews)</span>
            </p>
          </div>
          <div style="display: flex;flex-direction: row; justify-content: center;">
            <a style="margin: 0 2%;" class="button" href="/products/recovery-repair-gel-30ml">Shop Now</a>
            <a style="margin: 0 2%;" class="button" href="/cart/44189675618615:1 ">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="inner">
        <div class="ba-slider">
          <img
            class="first-one-prod"
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/DSC_0040_4.jpg?v=1671696277"
          >
          <div style="line-height: 0.5; ">
            <h2 style="color: #cc4e61; font-size: larger;line-height: inherit;">Recovery & Repair Gel-Refill 50ml</h2>
            <p style="color: #cc4e61; text-align: center;line-height: 1.5;">Clinically proven Acne & Rosacea gel</p>
            <p style="color: #FFCD4E; text-align: center;">
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span style="color: #4a4a4a; ">(102 Reviews)</span>
            </p>
          </div>
          <div style="display: flex;flex-direction: row; justify-content: center;">
            <a style="margin: 0 2%;" class="button" href="/products/recovery-repair-gel-30ml">Shop Now</a>
            <a style="margin: 0 2%;" class="button" href="/cart/44189675618615:1 ">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="inner">
        <div class="ba-slider">
          <img
            class="first-two-prod"
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/MicrosoftTeams-image51cc062b8e3b74d772625099724fbb99cfdc9a0e178e1a1807d205415441991f_1.jpg?v=1671623510"
          >
          <div style="line-height: 0.5;">
            <h2 style="color: #cc4e61; font-size: larger;line-height: inherit;">Recovery & Repair Gel 30ml</h2>
            <p style="color: #cc4e61; text-align: center;line-height: 1.5;">Clinically proven Acne & Rosacea gel</p>
            <p style="color: #FFCD4E; text-align: center;">
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span style="color: #4a4a4a">(102 Reviews)</span>
            </p>
          </div>

          <div style="display: flex;flex-direction: row; justify-content: center;">
            <a style="margin: 0 2%;" class="button" href="/products/recovery-repair-gel-30ml">Shop Now</a>
            <a style="margin: 0 2%;" class="button" href="/cart/44193948336439:1">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="inner">
        <div class="ba-slider">
          <img
            class="first-two-prod"
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/DSC_0040_1.jpg?v=1671696277"
          >
          <div style="line-height: 0.5;">
            <h2 style="color: #cc4e61; font-size: larger;line-height: inherit;">Recovery & Repair Gel-Refill 30ml</h2>
            <p style="color: #cc4e61; text-align: center;line-height: 1.5;">Clinically proven Acne & Rosacea gel</p>
            <p style="color: #FFCD4E; text-align: center;">
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span style="color: #4a4a4a">(102 Reviews)</span>
            </p>
          </div>

          <div style="display: flex;flex-direction: row; justify-content: center;">
            <a style="margin: 0 2%;" class="button" href="/products/recovery-repair-gel-30ml">Shop Now</a>
            <a style="margin: 0 2%;" class="button" href="/cart/44193948336439:1">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="inner">
        <div class="ba-slider">
          <img
            class="first-one-prod"
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Seacra_Glow_Shot_Mixed_Berries_Bottle_-9650_2.jpg?v=1671623512"
          >
          <div style="line-height: 0.5">
            <h2 style="color: #cc4e61; font-size: larger;text-align: center;line-height: inherit;">Glow Shot - Elderflower</h2>
            <p style="color: #cc4e61; text-align: center;">Daily Collagen Drink</p>
            <p style="color: #ffcd4e; text-align: center;">
              <span class="stars" style="color:#ffcd4e">&#9733;</span>
              <span class="stars" style="color:#ffcd4e">&#9733;</span>
              <span class="stars" style="color:#ffcd4e">&#9733;</span>
              <span class="stars" style="color:#ffcd4e>&#9733;"</span>
              <span class="stars" style="color:#ffcd4e">&#9733;</span>
              <span style="color: #4a4a4a">(102 Reviews)</span>
            </p>
          </div>
          <a style="background-color: #cc4e6170;" class="button" href="/products/recovery-repair-gel-30ml"
            >Out of Stock</a
          >
        </div>
      </div>
      <div class="inner">
        <div class="ba-slider">
          <img
            class="first-two-prod"
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Seacra_Glow_Shot_Elderflowr_Bottle-9680_2.jpg?v=1671623512"
          >
          <div style="line-height: 0.5">
            <h2 style="color: #cc4e61; font-size: larger;text-align: center;line-height: inherit;">Glow Shot - Mixed Berry</h2>
            <p style="color: #cc4e61; text-align: center;">Daily Collagen Drink</p>
            <p style="color: #ffcd4e; text-align: center;">
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span style="color: #4a4a4a">(102 Reviews)</span>
            </p>
          </div>
          <a style="background-color: #cc4e6170;" class="button" href="/products/recovery-repair-gel-30ml"
            >Out of Stock</a
          >
        </div>
      </div>
      <div class="inner">
        <div class="ba-slider">
          <img
            class="first-two-prod"
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/MicrosoftTeams-image_4_1.jpg?v=1671696277"
          >
          <div style="line-height: 0.5">
            <h2 style="color: #cc4e61; font-size: larger;text-align: center;line-height: inherit;">Glow Shot - Mango </h2>
            <p style="color: #cc4e61; text-align: center;">Daily Collagen Drink</p>
            <p style="color: #ffcd4e; text-align: center;">
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span>&#9733;</span>
              <span style="color: #4a4a4a">(102 Reviews)</span>
            </p>
          </div>
          <a style="background-color: #cc4e6170;" class="button" href="/products/recovery-repair-gel-30ml"
            >Out of Stock</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Swiper JS -->
<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
<script src="{{ "slick-prod-col.min.js" | asset_url }}"></script>
<script src="{{ "prod_bundle.js" | asset_url }}"></script>

{% schema %}
{
  "name": "Home Prod Slider Single",
  "settings": [],
  "presets": [
    {
      "name": "Home Prod Slider Single"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
