{%- style -%}
  #shopify-section-{{ section.id }}{
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{%- endstyle -%}

<link
  rel="stylesheet"
  href="{{ 'image-comparision-on-slider.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>
<link rel="stylesheet" href="{{ 'slick.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'slick-theme.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'image-comparision-on-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'slick.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'slick-theme.css' | asset_url | stylesheet_tag }}</noscript>

<div class="image-comparing-slider">
  <!-- one -->
  <div class="inner">
    <div class="ba-slider rosacea">
      <img
        class="img"
        src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/jane-after.png?v=1670579861"
        style="width: 100%;"
      >
      <div class="resize">
        <img
          class="img"
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/jane-before.png?v=1670580032"
        >
      </div>
      <span class="handle"></span>
    </div>
  </div>
</div>
<script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'image-comparision-on-slider.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "Home Comapre",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "Home Comapree",
      "blocks": []
    }
  ]
}
{% endschema %}
