{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --gradient-background: {% if section.settings.gradient_background != blank %}{{ section.settings.gradient_background }}{% else %}{{ section.settings.colors_background }}{% endif %};
    --color-background: {{ section.settings.colors_background.red }}, {{ section.settings.colors_background.green }}, {{ section.settings.colors_background.blue }};
    --color-foreground: {{ section.settings.colors_text.red }}, {{ section.settings.colors_text.green }}, {{ section.settings.colors_text.blue }};
    --color-border: {{ section.settings.colors_border.red }}, {{ section.settings.colors_border.green }}, {{ section.settings.colors_border.blue }};
    --color-link: var(--color-foreground);
    --color-button-text: var(--color-background);
    --color-button-border: var(--color-foreground);
    --color-button-background: var(--color-foreground);
    --color-shadow: var(--color-foreground);
    --shadow-opacity: 0.3;
  }

  }
{%- endstyle -%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
<link rel="stylesheet" href="{{ 'bootstrap.min.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'main.css' | asset_url }}" media="print" onload="this.media='all'">
<style>
* {box-sizing: border-box;}

.img-comp-container {
  position: relative;
  height: 200px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow:hidden;
}

.img-comp-img img {
  display:block;
  vertical-align:middle;
}

.img-comp-slider {
  position: absolute;
  z-index:9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}
</style>
<script>
function initComparisons() {
  var x, i;
  /*find all elements with an "overlay" class:*/
  x = document.getElementsByClassName("img-comp-overlay");
  for (i = 0; i < x.length; i++) {
    /*once for each "overlay" element:
    pass the "overlay" element as a parameter when executing the compareImages function:*/
    compareImages(x[i]);
  }
  function compareImages(img) {
    var slider, img, clicked = 0, w, h;
    /*get the width and height of the img element*/
    w = img.offsetWidth;
    h = img.offsetHeight;
    /*set the width of the img element to 50%:*/
    img.style.width = (w / 2) + "px";
    /*create slider:*/
    slider = document.createElement("DIV");
    slider.setAttribute("class", "img-comp-slider");
    slider.style.display = "block";
    /*insert slider*/
    img.parentElement.insertBefore(slider, img);
    /*position the slider in the middle:*/
    slider.style.top = (h / 2) - (slider.offsetHeight / 2) + "px";
    slider.style.left = (w / 2) - (slider.offsetWidth / 2) + "px";
    /*execute a function when the mouse button is pressed:*/
    slider.addEventListener("mousedown", slideReady);
    /*and another function when the mouse button is released:*/
    window.addEventListener("mouseup", slideFinish);
    /*or touched (for touch screens:*/
    slider.addEventListener("touchstart", slideReady);
    /*and released (for touch screens:*/
    window.addEventListener("touchend", slideFinish);
    function slideReady(e) {
      /*prevent any other actions that may occur when moving over the image:*/
      e.preventDefault();
      /*the slider is now clicked and ready to move:*/
      clicked = 1;
      /*execute a function when the slider is moved:*/
      window.addEventListener("mousemove", slideMove);
      window.addEventListener("touchmove", slideMove);
    }
    function slideFinish() {
      /*the slider is no longer clicked:*/
      clicked = 0;
    }
    function slideMove(e) {
      var pos;
      /*if the slider is no longer clicked, exit this function:*/
      if (clicked == 0) return false;
      /*get the cursor's x position:*/
      pos = getCursorPos(e)
      /*prevent the slider from being positioned outside the image:*/
      if (pos < 0) pos = 0;
      if (pos > w) pos = w;
      /*execute a function that will resize the overlay image according to the cursor:*/
      slide(pos);
    }
    function getCursorPos(e) {
      var a, x = 0;
      e = (e.changedTouches) ? e.changedTouches[0] : e;
      /*get the x positions of the image:*/
      a = img.getBoundingClientRect();
      /*calculate the cursor's x coordinate, relative to the image:*/
      x = e.pageX - a.left;
      /*consider any page scrolling:*/
      x = x - window.pageXOffset;
      return x;
    }
    function slide(x) {
      /*resize the image:*/
      img.style.width = x + "px";
      /*position the slider:*/
      slider.style.left = img.offsetWidth - (slider.offsetWidth / 2) + "px";
    }
  }
}
</script>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
<link rel="stylesheet" href="{{ 'bootrstrap.css' | asset_url }}" media="print" onload="this.media='all'"> -->
<!-- <link rel="stylesheet" href="{{ 'main.css' | asset_url }}" media="print" onload="this.media='all'"> -->
<noscript>{{ 'main.css' | asset_url | stylesheet_tag }}</noscript>
<div class="section--padding{% if section.settings.show_divider %} section--divider{% endif %}">
  <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="col-md-12">
            <div class="button-placement d-none d-sm-none d-md-none dlg-block d-xl-block">
              <a class="carousel-control-prev" href="#carouselProduct" role="button" data-slide="prev" style="opacity: 1; left: -15%; top: 15rem;">
                <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_2_7b52d66a-c357-4951-bf2d-64cc1caeecb1.svg?v=1671863607" class="fas fa-chevron-left controls" style="color:#cc4e61; font-size:25px;transform: rotate(-180deg); height: 70px; width: 70px; padding: 4.7% 0%;border-radius: 50%;"></i></a>
              <a class="carousel-control-next" href="#carouselProduct" role="button" data-slide="next" style="opacity: 1; transform: rotate(-180deg); right: -15%; top: 15rem">
                <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_2_7b52d66a-c357-4951-bf2d-64cc1caeecb1.svg?v=1671863607" class="fas fa-chevron-left controls" style="color: #cc4e61;font-size: 25px; height: 70px;transform: rotate(-180deg); width: 70px;padding: 4.7% 1%;border-radius: 50%;"></i>
              </a>
            </div>
            <div class="button-placement d-none d-sm-none d-md-block d-lg-none d-xl-none">
              <a class="carousel-control-prev" href="#carouselProductTablet" role="button" data-slide="prev" style="opacity: 1; left: 0%; top: 15rem;">
                <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_2_7b52d66a-c357-4951-bf2d-64cc1caeecb1.svg?v=1671863607" class="fas fa-chevron-left controls" style="color:#cc4e61; font-size:25px;transform: rotate(-180deg);  transform: rotate(-180deg); height: 50px; width: 50px; padding: 8.7% 0%;border-radius: 50%;"></i>
              </a>
              <a class="carousel-control-next" href="#carouselProductTablet" role="button" data-slide="next" style="opacity: 1; transform: rotate(-180deg); right: 0%; top: 15rem;" >
                <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_2_7b52d66a-c357-4951-bf2d-64cc1caeecb1.svg?v=1671863607" class="fas fa-chevron-left controls" style="color:#cc4e61; font-size:25px;transform: rotate(-180deg); transform: rotate(-180deg); height: 50px; width: 50px; padding: 8.7% 0%;border-radius: 50%;"></i>
              </a>
            </div>
            <div class="button-placement d-sm-block d-md-none d-lg-none d-xl-none">
              <a class="carousel-control-prev" href="#carouselProductMobile" role="button" data-slide="prev" style="opacity: 1; left: -8%; top: 23vh;">
<!--                  style="opacity: 1; left: -3%; top: 30vh; -->
                <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_2_7b52d66a-c357-4951-bf2d-64cc1caeecb1.svg?v=1671863607"
          class="fas fa-chevron-left controls"
          style="color:#cc4e61; font-size:25px; transform: rotate(-180deg); height: 50px; width: 50px; padding: 8.7% 0%;border-radius: 50%;"
        ></i> </a>
                <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_2_7b52d66a-c357-4951-bf2d-64cc1caeecb1.svg?v=1671863607" class="fas fa-chevron-left controls" style="color:#cc4e61; font-size:25px;transform: rotate(-180deg); transform: rotate(-180deg); height: 50px; width: 50px; padding: 8.7% 0%;border-radius: 50%;"></i>
                <a class="carousel-control-next" href="#carouselProductMobile" role="button" data-slide="next" style="opacity: 1; right: -6%; top: 23vh; ">
<!--                   style="opacity: 1; right: -3%; top: 30vh; -->
                  <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_2_7b52d66a-c357-4951-bf2d-64cc1caeecb1.svg?v=1671863607"
          class="fas fa-chevron-left controls"
          style="
            color: #cc4e61;
            font-size: 25px;
            height: 50px;
            width: 50px;
            padding: 8.7% 1%;
            border-radius: 50%;
          "
        ></i> </a>
            </div>
          </div>
        </div>
        <div id="carouselProduct" class="carousel slide d-none d-sm-none d-md-none d-lg-block  d-xl-block" data-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="row">
                      <div class="col-lg-6 col-md-12 col-sm-12 d-flex flex-column">
                          <div class="product-block">
                              <div class="d-block product-image-margin img-comp-container">
                                  <div class="row" >
                                    <div class="large-10 columns">
                                      <div class="twentytwenty-container">
                                        <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_28_68e9e44e-c577-407a-90bd-bb2c50903d5c.png?v=1669093952" />
                                        <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_29_61d04c91-9284-4245-abd6-65a021eea99a.png?v=1669093952" />
                                      </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="flex-column d-flex pt-3">
                                <!-- <div class="pic p1"></div> -->
                                <h3 style="color: #cc4e61;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Recovery & Repair Gel 50ml</h4>
                                <p style="color: #cc4e61; font-size: 15px;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Clinically proven Acne & Rosacea gel</p>
                                <div class="information  flex-column d-flex">
                                  <div class="information  flex-row d-flex justify-content-center text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">
                                    <p style="color: #FFCD4E; font-size: 14px" >
                                      <span>&#9733;</span>
                                      <span>&#9733;</span>
                                      <span>&#9733;</span>
                                      <span>&#9733;</span>
                                      <span>&#9733;</span>
                                    </p>
                                    &nbsp;&nbsp;
                                    <p style="color: #4a4a4a; font-size: 15px;" >(102 Reviews)</p>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <a class="buttons btn-lg btn btn-danger" href="https://seacra-dev.myshopify.com/products" style="background-color:#cc4e61;">Shop Now</a>
                                </div>
                                <div class="col-md-6">
                                  <a class="buttons btn-lg btn btn-success" href="https://seacra-dev.myshopify.com/cart/add?id=44239824847159&quantity=1" style="background-color:#cc4e61;">Add To cart</a>
                                </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-12 col-sm-12 d-flex flex-column">
                          <div class="product-block">
                              <div class="d-block product-image-margin img-comp-container">
                                <div class="img-comp-img">
                                  <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_29_61d04c91-9284-4245-abd6-65a021eea99a.png?v=1669093952" width="300" height="200">
                                </div>
                                <div class="img-comp-img img-comp-overlay">
                                  <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_28_68e9e44e-c577-407a-90bd-bb2c50903d5c.png?v=1669093952" width="300" height="200">
                                </div>
                              </div>
                              <div class="flex-column d-flex pt-3">
                                <!-- <div class="pic p1"></div> -->
                                <h3 style="color: #cc4e61;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Recovery & Repair Gel 50ml</h4>
                                <p style="color: #cc4e61; font-size: 15px;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Clinically proven Acne & Rosacea gel</p>
                                <div class="information  flex-column d-flex">
                                  <div class="information  flex-row d-flex justify-content-center text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">
                                    <p style="color: #FFCD4E; font-size: 14px" >
                                      <span>&#9733;</span>
                                      <span>&#9733;</span>
                                      <span>&#9733;</span>
                                      <span>&#9733;</span>
                                      <span>&#9733;</span>
                                    </p>
                                    &nbsp;&nbsp;
                                    <p style="color: #4a4a4a; font-size: 15px;" >(102 Reviews)</p>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <a class="buttons btn-lg btn btn-danger" href="https://seacra-dev.myshopify.com/products" style="background-color:#cc4e61;">Shop Now</a>
                                </div>
                                <div class="col-md-6">
                                  <a class="buttons btn-lg btn btn-success" href="https://seacra-dev.myshopify.com/cart/add?id=44239824847159&quantity=1" style="background-color:#cc4e61;">Add To cart</a>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Carousel Item 1 -->
              <div class="carousel-item">
                   <div class="row">
                      <div class="col-lg-1 col-md-0 col-sm-0">
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12 d-flex flex-column">
                          <div class="product-block">
                              <div class="d-block product-image-margin img-comp-container">
                                <div class="img-comp-img">
                                  <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_29_61d04c91-9284-4245-abd6-65a021eea99a.png?v=1669093952" width="300" height="200">
                                </div>
                                <div class="img-comp-img img-comp-overlay">
                                  <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_28_68e9e44e-c577-407a-90bd-bb2c50903d5c.png?v=1669093952" width="300" height="200">
                                </div>
                              </div>
                              <div class="flex-column d-flex pt-3">
                                <!-- <div class="pic p1"></div> -->
                                <h3 style="color: #cc4e61;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Recovery & Repair Gel 50ml</h4>
                                <p style="color: #cc4e61; font-size: 15px;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Clinically proven Acne & Rosacea gel</p>
                                <div class="information  flex-column d-flex">
                                  <div class="information  flex-row d-flex justify-content-center text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">
                                    <p style="color: #FFCD4E; font-size: 14px" >
                                      <span>&#9733;</span>
                                      <span>&#9733;</span>
                                      <span>&#9733;</span>
                                      <span>&#9733;</span>
                                      <span>&#9733;</span>
                                    </p>
                                    &nbsp;&nbsp;
                                    <p style="color: #4a4a4a; font-size: 15px;" >(102 Reviews)</p>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <a class="buttons btn-lg btn btn-danger" href="https://seacra-dev.myshopify.com/products" style="background-color:#cc4e61;">Shop Now</a>
                                </div>
                                <div class="col-md-6">
                                  <a class="buttons btn-lg btn btn-success" href="https://seacra-dev.myshopify.com/cart/add?id=44239824847159&quantity=1" style="background-color:#cc4e61;">Add To cart</a>
                                </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-2 col-md-0 col-sm-0">
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12 d-flex flex-column">
                          <div class="product-block">
                              <div class="d-block product-image-margin img-comp-container">
                                <div class="img-comp-img">
                                  <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_29_61d04c91-9284-4245-abd6-65a021eea99a.png?v=1669093952" width="300" height="200">
                                </div>
                                <div class="img-comp-img img-comp-overlay">
                                  <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_28_68e9e44e-c577-407a-90bd-bb2c50903d5c.png?v=1669093952" width="300" height="200">
                                </div>
                              </div>
                              <div class="flex-column d-flex pt-3">
                                <!-- <div class="pic p1"></div> -->
                                <h3 style="color: #cc4e61;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Recovery & Repair Gel 50ml</h4>
                                <p style="color: #cc4e61; font-size: 15px;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Clinically proven Acne & Rosacea gel</p>
                                <div class="information  flex-column d-flex">
                                  <div class="information  flex-row d-flex justify-content-center text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">
                                    <p style="color: #FFCD4E; font-size: 14px" >
                                      <span>&#9733;</span>
                                      <span>&#9733;</span>
                                      <span>&#9733;</span>
                                      <span>&#9733;</span>
                                      <span>&#9733;</span>
                                    </p>
                                    &nbsp;&nbsp;
                                    <p style="color: #4a4a4a; font-size: 15px;" >(102 Reviews)</p>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <a class="buttons btn-lg btn btn-danger" href="https://seacra-dev.myshopify.com/products" style="background-color:#cc4e61;">Shop Now</a>
                                </div>
                                <div class="col-md-6">
                                  <a class="buttons btn-lg btn btn-success" href="https://seacra-dev.myshopify.com/cart/add?id=44239824847159&quantity=1" style="background-color:#cc4e61;">Add To cart</a>
                                </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-1 col-md-0 col-sm-0">
                      </div>
                  </div>
              </div>
              <!-- Carousel Item 2 -->
              <div class="carousel-item">
                   <div class="row">
                      <div class="col-lg-1 col-md-0 col-sm-0">
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12 d-flex flex-column">
                          <div class="product-block">
                              <div class="d-block product-image-margin img-comp-container">
                                <div class="img-comp-img">
                                  <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_29_61d04c91-9284-4245-abd6-65a021eea99a.png?v=1669093952" width="300" height="200">
                                </div>
                                <div class="img-comp-img img-comp-overlay">
                                  <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_28_68e9e44e-c577-407a-90bd-bb2c50903d5c.png?v=1669093952" width="300" height="200">
                                </div>
                              </div>
                              <div class="flex-column d-flex pt-3">
                                <!-- <div class="pic p1"></div> -->
                                <h3 style="color: #cc4e61;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Recovery & Repair Gel 50ml</h4>
                                <p style="color: #cc4e61; font-size: 15px;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Clinically proven Acne & Rosacea gel</p>
                                <div class="information  flex-column d-flex">
                                  <div class="information  flex-row d-flex justify-content-center text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">
                                    <p style="color: #FFCD4E; font-size: 14px" >
                                      <span>&#9733;</span>
                                      <span>&#9733;</span>
                                      <span>&#9733;</span>
                                      <span>&#9733;</span>
                                      <span>&#9733;</span>
                                    </p>
                                    &nbsp;&nbsp;
                                    <p style="color: #4a4a4a; font-size: 15px;" >(102 Reviews)</p>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <a class="buttons btn-lg btn btn-danger" href="https://seacra-dev.myshopify.com/products" style="background-color:#cc4e61;">Shop Now</a>
                                </div>
                                <div class="col-md-6">
                                  <a class="buttons btn-lg btn btn-success" href="https://seacra-dev.myshopify.com/cart/add?id=44239824847159&quantity=1" style="background-color:#cc4e61;">Add To cart</a>
                                </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-2 col-md-0 col-sm-0">
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12 d-flex flex-column">
                          <div class="product-block">
                              <div class="d-block product-image-margin img-comp-container">
                                <div class="img-comp-img">
                                  <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_29_61d04c91-9284-4245-abd6-65a021eea99a.png?v=1669093952" width="300" height="200">
                                </div>
                                <div class="img-comp-img img-comp-overlay">
                                  <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Mask_group_28_68e9e44e-c577-407a-90bd-bb2c50903d5c.png?v=1669093952" width="300" height="200">
                                </div>
                              </div>
                              <div class="flex-column d-flex pt-3">
                                <!-- <div class="pic p1"></div> -->
                                <h3 style="color: #cc4e61;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Recovery & Repair Gel 50ml</h4>
                                <p style="color: #cc4e61; font-size: 15px;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Clinically proven Acne & Rosacea gel</p>
                                <div class="information  flex-column d-flex">
                                  <div class="information  flex-row d-flex justify-content-center text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">
                                    <p style="color: #FFCD4E; font-size: 14px" >
                                      <span>&#9733;</span>
                                      <span>&#9733;</span>
                                      <span>&#9733;</span>
                                      <span>&#9733;</span>
                                      <span>&#9733;</span>
                                    </p>
                                    &nbsp;&nbsp;
                                    <p style="color: #4a4a4a; font-size: 15px;" >(102 Reviews)</p>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <a class="buttons btn-lg btn btn-danger" href="https://seacra-dev.myshopify.com/products" style="background-color:#cc4e61;">Shop Now</a>
                                </div>
                                <div class="col-md-6">
                                  <a class="buttons btn-lg btn btn-success" href="https://seacra-dev.myshopify.com/cart/add?id=44239824847159&quantity=1" style="background-color:#cc4e61;">Add To cart</a>
                                </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-1 col-md-0 col-sm-0">
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div id="carouselProductTablet" class="w-75 carousel slide d-none d-sm-none d-md-block d-lg-none d-xl-none" data-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="product-block">
                      <img class="d-block w-75 product-image-margin" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/DSC_0027_1.jpg?v=1671623511" alt="Product">
                      <div class="flex-column d-flex pt-3">
                        <!-- <div class="pic p1"></div> -->
                        <h3 style="color: #cc4e61;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Recovery & Repair Gel 50ml</h4>
                        <p style="color: #cc4e61; font-size: 15px;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Clinically proven Acne & Rosacea gel</p>
                        <div class="information  flex-column d-flex">
                          <div class="information  flex-row d-flex justify-content-center text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">
                            <p style="color: #FFCD4E; font-size: 14px" >
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                            </p>
                            &nbsp;&nbsp;
                            <p style="color: #4a4a4a; font-size: 15px;" >(102 Reviews)</p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                           <a class="buttons btn-lg btn btn-danger" href="https://seacra-dev.myshopify.com/products" style="background-color:#cc4e61;">Shop Now</a>
                        </div>
                        <div class="col-md-6">
                            <a class="buttons btn-lg btn btn-success" href="https://seacra-dev.myshopify.com/cart/add?id=44239824847159&quantity=1" style="background-color:#cc4e61;">Add To cart</a>
                        </div>
                      </div>
                  </div>

              </div>
              <div class="carousel-item">
                  <div class="product-block">
                      <img class="d-block w-75 product-image-margin" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/MicrosoftTeams-image51cc062b8e3b74d772625099724fbb99cfdc9a0e178e1a1807d205415441991f_1.jpg?v=1671623510" alt="Product">
                      <div class="flex-column d-flex pt-3">
                        <!-- <div class="pic p1"></div> -->
                        <h3 style="color: #cc4e61;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Recovery & Repair Gel 30ml</h4>
                        <p style="color: #cc4e61; font-size: 15px;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Clinically proven Acne & Rosacea gel</p>
                        <div class="information  flex-column d-flex">
                          <div class="information  flex-row d-flex justify-content-center text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">
                            <p style="color: #FFCD4E; font-size: 14px" >
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                            </p>
                            &nbsp;&nbsp;
                            <p style="color: #4a4a4a; font-size: 15px;" >(102 Reviews)</p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <a class="buttons btn-lg btn btn-danger" href="https://seacra-dev.myshopify.com/products" style="background-color:#cc4e61;">Shop Now</a>
                        </div>
                        <div class="col-md-6">
                          <a class="buttons btn-lg btn btn-success" href="https://seacra-dev.myshopify.com/cart/add?id=44239824847159&quantity=1" style="background-color:#cc4e61;">Add To cart</a>
                        </div>
                    </div>
                  </div>
              </div>
              <div class="carousel-item">
                <div class="product-block">
                    <img class="d-block w-75 product-image-margin" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/DSC_0040_4.jpg?v=1671696277" alt="Product">
                    <div class="flex-column d-flex pt-3">
                      <!-- <div class="pic p1"></div> -->
                      <h3 style="color: #cc4e61;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Recovery & Repair Gel-Refill 50ml</h4>
                      <p style="color: #cc4e61; font-size: 15px;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Clinically proven Acne & Rosacea gel</p>
                      <div class="information  flex-column d-flex">
                        <div class="information  flex-row d-flex justify-content-center text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">
                          <p style="color: #FFCD4E; font-size: 14px" >
                            <span>&#9733;</span>
                            <span>&#9733;</span>
                            <span>&#9733;</span>
                            <span>&#9733;</span>
                            <span>&#9733;</span>
                          </p>
                          &nbsp;&nbsp;
                          <p style="color: #4a4a4a; font-size: 15px;" >(102 Reviews)</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <a class="buttons btn-lg btn btn-danger" href="https://seacra-dev.myshopify.com/products" style="background-color:#cc4e61;">Shop Now</a>
                      </div>
                      <div class="col-md-6">
                          <a class="buttons btn-lg btn btn-success" href="https://seacra-dev.myshopify.com/cart/add?id=44239824847159&quantity=1" style="background-color:#cc4e61;">Add To cart</a>
                      </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                  <div class="product-block">
                      <img class="d-block w-75 product-image-margin" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/DSC_0040_1.jpg?v=1671696277" alt="Product">
                      <div class="flex-column d-flex pt-3">
                        <!-- <div class="pic p1"></div> -->
                        <h3 style="color: #cc4e61;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Recovery & Repair Gel-Refill 30ml</h4>
                        <p style="color: #cc4e61; font-size: 15px;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Clinically proven Acne & Rosacea gel</p>
                        <div class="information  flex-column d-flex">
                          <div class="information  flex-row d-flex justify-content-center text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">
                            <p style="color: #FFCD4E; font-size: 14px" >
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                            </p>
                            &nbsp;&nbsp;
                            <p style="color: #4a4a4a; font-size: 15px;" >(102 Reviews)</p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <a class="buttons btn-lg btn btn-danger" href="https://seacra-dev.myshopify.com/products" style="background-color:#cc4e61;">Shop Now</a>
                        </div>
                        <div class="col-md-6">
                          <a class="buttons btn-lg btn btn-success" href="https://seacra-dev.myshopify.com/cart/add?id=44239824847159&quantity=1" style="background-color:#cc4e61;">Add To cart</a>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="product-block">
                      <img class="d-block w-75 product-image-margin" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Seacra_Glow_Shot_Elderflowr_Bottle-9680_2.jpg?v=1671623512" alt="Product">
                      <div class="flex-column d-flex pt-3">
                        <!-- <div class="pic p1"></div> -->
                        <h3 style="color: #cc4e61;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Glow Shot - Elderflower</h4>
                        <p style="color: #cc4e61; font-size: 15px;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Daily Collagen Drink</p>
                        <div class="information  flex-column d-flex">
                          <div class="information  flex-row d-flex justify-content-center text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">
                            <p style="color: #FFCD4E; font-size: 14px" >
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                            </p>
                            &nbsp;&nbsp;
                            <p style="color: #4a4a4a; font-size: 15px;" >(102 Reviews)</p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <a class="buttons btn-lg btn btn-danger" style="background-color:#cc4e6170;">Out of Stock</a>
                        </div>

                      </div>
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="product-block">
                      <img class="d-block w-75 product-image-margin" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Seacra_Glow_Shot_Mixed_Berries_Bottle_-9650_2.jpg?v=1671623512" alt="Product">
                      <div class="flex-column d-flex pt-3">
                        <!-- <div class="pic p1"></div> -->
                        <h3 style="color: #cc4e61;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Glow Shot - Mixed Berry</h4>
                        <p style="color: #cc4e61; font-size: 15px;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Daily Collagen Drink</p>
                        <div class="information  flex-column d-flex">
                          <div class="information  flex-row d-flex justify-content-center text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">
                            <p style="color: #FFCD4E; font-size: 14px" >
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                            </p>
                            &nbsp;&nbsp;
                            <p style="color: #4a4a4a; font-size: 15px;" >(102 Reviews)</p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <a class="buttons btn-lg btn btn-danger"  style="background-color:#cc4e6170;">Out of Stock</a>
                        </div>
                      </div>
                  </div>

              </div>
              <div class="carousel-item">
                  <div class="product-block">
                      <img class="d-block w-75 product-image-margin" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/MicrosoftTeams-image_4_1.jpg?v=1671696277" alt="Product">
                      <div class="flex-column d-flex pt-3">
                        <!-- <div class="pic p1"></div> -->
                        <h3 style="color: #cc4e61;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Glow Shot - Mango</h4>
                        <p style="color: #cc4e61; font-size: 15px;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Daily Collagen Drink</p>
                        <div class="information  flex-column d-flex">
                          <div class="information  flex-row d-flex justify-content-center text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">
                            <p style="color: #FFCD4E; font-size: 14px" >
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                            </p>
                            &nbsp;&nbsp;
                            <p style="color: #4a4a4a; font-size: 15px;" >(102 Reviews)</p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <a class="buttons btn-lg btn btn-danger" href="https://seacra-dev.myshopify.com/products" style="background-color:#cc4e6170;">Out of Stock</a>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div id="carouselProductMobile" class="w-75 carousel slide d-sm-block d-md-none d-lg-none d-xl-none" data-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="product-block">
                      <img class="d-block w-75 product-image-margin" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/DSC_0027_1.jpg?v=1671623511" alt="Product">
                      <div class="flex-column d-flex pt-3">
                        <!-- <div class="pic p1"></div> -->
                        <h3 style="color: #cc4e61;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Recovery & Repair Gel 50ml</h4>
                        <p style="color: #cc4e61; font-size: 15px;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Clinically proven Acne & Rosacea gel</p>
                        <div class="information  flex-column d-flex">
                          <div class="information  flex-row d-flex justify-content-center text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">
                            <p style="color: #FFCD4E; font-size: 14px" >
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                            </p>
                            &nbsp;&nbsp;
                            <p style="color: #4a4a4a; font-size: 15px;" >(102 Reviews)</p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <a class="buttons btn-lg btn btn-danger" href="https://seacra-dev.myshopify.com/products" style="background-color:#cc4e61;">Shop Now</a>
                        </div>
                        <div class="col-md-6">
                            <a class="buttons btn-lg btn btn-success" href="https://seacra-dev.myshopify.com/cart/add?id=44239824847159&quantity=1" style="background-color:#cc4e61;">Add To cart</a>
                        </div>
                      </div>
                  </div>

              </div>
              <div class="carousel-item">
                  <div class="product-block">
                      <img class="d-block w-75 product-image-margin" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/MicrosoftTeams-image51cc062b8e3b74d772625099724fbb99cfdc9a0e178e1a1807d205415441991f_1.jpg?v=1671623510" alt="Product">
                      <div class="flex-column d-flex pt-3">
                        <!-- <div class="pic p1"></div> -->
                        <h3 style="color: #cc4e61;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Recovery & Repair Gel-Refill 30ml</h4>
                        <p style="color: #cc4e61; font-size: 15px;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Clinically proven Acne & Rosacea gel</p>
                        <div class="information  flex-column d-flex">
                          <div class="information  flex-row d-flex justify-content-center text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">
                            <p style="color: #FFCD4E; font-size: 14px" >
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                            </p>
                            &nbsp;&nbsp;
                            <p style="color: #4a4a4a; font-size: 15px;" >(102 Reviews)</p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <a class="buttons btn-lg btn btn-danger" href="https://seacra-dev.myshopify.com/products" style="background-color:#cc4e61;">Shop Now</a>
                        </div>
                        <div class="col-md-6">
                            <a class="buttons btn-lg btn btn-success" href="https://seacra-dev.myshopify.com/cart/add?id=44239824847159&quantity=1" style="background-color:#cc4e61;">Add To cart</a>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="carousel-item">
                <div class="product-block">
                    <img class="d-block w-75 product-image-margin" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/DSC_0040_4.jpg?v=1671696277" alt="Product">
                    <div class="flex-column d-flex pt-3">
                      <!-- <div class="pic p1"></div> -->
                      <h3 style="color: #cc4e61;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Recovery & Repair Gel-Refill 50ml</h4>
                      <p style="color: #cc4e61; font-size: 15px;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Clinically proven Acne & Rosacea gel</p>
                      <div class="information  flex-column d-flex">
                        <div class="information  flex-row d-flex justify-content-center text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">
                          <p style="color: #FFCD4E; font-size: 14px" >
                            <span>&#9733;</span>
                            <span>&#9733;</span>
                            <span>&#9733;</span>
                            <span>&#9733;</span>
                            <span>&#9733;</span>
                          </p>
                          &nbsp;&nbsp;
                          <p style="color: #4a4a4a; font-size: 15px;" >(102 Reviews)</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <a class="buttons btn-lg btn btn-danger" href="https://seacra-dev.myshopify.com/products" style="background-color:#cc4e61;">Shop Now</a>
                      </div>
                      <div class="col-md-6">
                          <a class="buttons btn-lg btn btn-success" href="https://seacra-dev.myshopify.com/cart/add?id=44239824847159&quantity=1" style="background-color:#cc4e61;">Add To cart</a>
                      </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                  <div class="product-block">
                      <img class="d-block w-75 product-image-margin" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/DSC_0040_1.jpg?v=1671696277" alt="Product">
                      <div class="flex-column d-flex pt-3">
                        <!-- <div class="pic p1"></div> -->
                        <h3 style="color: #cc4e61;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Recovery & Repair Gel-Refill 30ml</h4>
                        <p style="color: #cc4e61; font-size: 15px;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Clinically proven Acne & Rosacea gel</p>
                        <div class="information  flex-column d-flex">
                          <div class="information  flex-row d-flex justify-content-center text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">
                            <p style="color: #FFCD4E; font-size: 14px" >
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                            </p>
                            &nbsp;&nbsp;
                            <p style="color: #4a4a4a; font-size: 15px;" >(102 Reviews)</p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <a class="buttons btn-lg btn btn-danger" href="https://seacra-dev.myshopify.com/products" style="background-color:#cc4e61;">Shop Now</a>
                        </div>
                        <div class="col-md-6">
                            <a class="buttons btn-lg btn btn-success" href="https://seacra-dev.myshopify.com/cart/add?id=44239824847159&quantity=1" style="background-color:#cc4e61;">Add To cart</a>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="product-block">
                      <img class="d-block w-75 product-image-margin" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Seacra_Glow_Shot_Elderflowr_Bottle-9680_2.jpg?v=1671623512" alt="Product">
                      <div class="flex-column d-flex pt-3">
                        <!-- <div class="pic p1"></div> -->
                        <h3 style="color: #cc4e61;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Glow Shot - Elderflower</h4>
                        <p style="color: #cc4e61;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Daily Collagen Drink</p>
                        <div class="information  flex-column d-flex">
                          <div class="information  flex-row d-flex justify-content-center text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">
                            <p style="color: #FFCD4E; font-size: 14px;" >
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                            </p>
                            &nbsp;&nbsp;
                            <p style="color: #4a4a4a; font-size: 15px;" >(102 Reviews)</p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <a class="buttons btn-lg btn btn-danger" style="background-color:#cc4e6170;">Out of Stock</a>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="product-block">
                      <img class="d-block w-75 product-image-margin" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Seacra_Glow_Shot_Mixed_Berries_Bottle_-9650_2.jpg?v=1671623512" alt="Product">
                      <div class="flex-column d-flex pt-3">
                        <!-- <div class="pic p1"></div> -->
                        <h3 style="color: #cc4e61;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Glow Shot - Mixed Berry</h4>
                        <p style="color: #cc4e61; font-size: 15px;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Daily Collagen Drink</p>
                        <div class="information  flex-column d-flex">
                          <div class="information  flex-row d-flex justify-content-center text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">
                            <p style="color: #FFCD4E; font-size: 14px" >
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                            </p>
                            &nbsp;&nbsp;
                            <p style="color: #4a4a4a; font-size: 15px;" >(102 Reviews)</p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <a class="buttons btn-lg btn btn-danger"  style="background-color:#cc4e6170;">Out of Stock</a>
                        </div>
                      </div>
                  </div>

              </div>
              <div class="carousel-item">
                  <div class="product-block">
                      <img class="d-block w-75 product-image-margin" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/MicrosoftTeams-image_4_1.jpg?v=1671696277" alt="Product">
                      <div class="flex-column d-flex pt-3">
                        <!-- <div class="pic p1"></div> -->
                        <h3 style="color: #cc4e61;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Glow Shot - Mango</h4>
                        <p style="color: #cc4e61; font-size: 15px;" class="text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">Daily Collagen Drink</p>
                        <div class="information  flex-column d-flex">
                          <div class="information  flex-row d-flex justify-content-center text-center text-sm-center text-md-center text-lg-center text-xs-center text-xl-center">
                            <p style="color: #FFCD4E; font-size: 14px" >
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                              <span>&#9733;</span>
                            </p>
                            &nbsp;&nbsp;
                            <p style="color: #4a4a4a; font-size: 15px;" >(102 Reviews)</p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <a class="buttons btn-lg btn btn-danger" style="background-color:#cc4e6170;">Out of Stock</a>
                        </div>
                         <div class="col-md-12">
                        </div>
                      </div>
                  </div>

              </div>
          </div>
        </div>
    </div>
  </div>
</div>
<!-- partial -->
<!-- <script>
/*Execute a function that will execute an image compare function for each element with the img-comp-overlay class:*/
initComparisons();
</script> -->
<script src="{{ 'jquery-3.2.1.min.js' | asset_url }}"></script>
<script src="{{ 'bootstrap.min.js' | asset_url }}"></script>
<script src="{{ 'jquery.event.move.js' | asset_url  }}"></script>
<script src="{{ 'jquery.twentytwenty.js' | asset_url }}"></script>
<script>
  $(function(){
    $(".twentytwenty-container[data-orientation!='vertical']").twentytwenty({default_offset_pct: 0.5});
  });
</script>
{% schema %}
{
  "name": "Comparing Slider",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Comparing Slider"
    }
  ]
}
{% endschema %}
