{% comment %} {%- style -%}
  #shopify-section-{{ section.id }}{
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{%- endstyle -%}

<link
  rel="stylesheet"
  href="{{ 'image-comparision-on-slider.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>
<link rel="stylesheet" href="{{ 'slick.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'slick-theme.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'image-comparision-on-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'slick.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'slick-theme.css' | asset_url | stylesheet_tag }}</noscript>

<div class="image-comparing-slider">
  <div class="title">
    <h1 style="color: #4a4a4a; font-weight: 800;">
      
      <span style="color: #cc4e61"></span>
    </h1>
    <h2 style="line-height: 0">
      <span style="color: #4a4a4a; font-weight: 600;"> </span>
      <span style=" font-weight: 600; color: #cc4e61"></span>
      <span style=" font-weight: 600; color: #4a4a4a"></span>
    </h2>
    <span class="homeP_txt" style="font-size: 2.4rem;line-height: 0;"
      ></span
    >
  </div>
  <div class="gallery gallery-responsive portfolio_slider">
    <!-- one -->
    <div class="inner">
      <div class="ba-slider">
        <img
          class="img"
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1224.jpg?v=1669636470"
        >
        </div>
        <span class="handle"></span>
      </div>
      <br>
      <br>
      
    </div>

    <!-- two -->
    <div class="inner">
      <div class="ba-slider">
        <img
          class="img"
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1217.jpg?v=1669636539"
        >
        <span class="handle"></span>
      </div>
      <br>
      <br>
    </div>

    <!-- three -->
    <div class="inner">
      <div class="ba-slider">
        <img
          class="img"
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1218_1.jpg?v=1669636551"
        >
        <span class="handle"></span>
      </div>
      <br>
      <br>
      
    </div>
    <!-- four -->
    <div class="inner">
      <div class="ba-slider">
        <img
          class="img"
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1219_1.jpg?v=1669636589"
        >
       
        <span class="handle"></span>
      </div>
      <br>
      <br>
      
    </div>

    <!-- five -->
    <div class="inner">
      <div class="ba-slider">
        <img
          class="img"
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1221.jpg?v=1669636614"
        >
        <span class="handle"></span>
      </div>
      <br>
      <br>
    </div>
    <!-- six -->
    <div class="inner">
      <div class="ba-slider">
        <img
          class="img"
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1220.jpg?v=1669636639"
        >
        <span class="handle"></span>
      </div>
      <br>
      <br>
      
    </div>

    <!-- seven -->
    <div class="inner">
      <div class="ba-slider">
        <img
          class="img"
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1222_1.jpg?v=1669636662"
        >
       
        <span class="handle"></span>
      </div>
      <br>
      <br>
      
    </div>

    <!-- eight -->

    <div class="inner">
      <div class="ba-slide1">
        <img
          class="img"
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1223.jpg?v=1669636683"
        >
       
        <span class="handle"></span>
      </div>
      <br>
      <br>
      
    </div>
  </div>
</div>
<script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'image-comparision-on-slider.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "Image Comp Slider review",
  "tag": "section",
  "class": "section1",
  "settings": [],
  "presets": [
    {
      "name": "Image Comp Slider review",
      "blocks": []
    }
  ]
}
{% endschema %}
 {% endcomment %}