
{%- style -%}
  #shopify-section-{{ section.id }}{
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{%- endstyle -%}


<link rel="stylesheet" href="{{ 'our_journey2.css' | asset_url }}" media="print" onload="this.media='all'">
 <noscript>{{ 'our_journey2.css' | asset_url | stylesheet_tag }}</noscript>


<div class="column1_text">
  <div class="column1-text">

  <h2> The Science Behind<span style="color: #CC4E61;"> Self-Confidence</h2>
  <br>
  <p>Red algae is your skin’s superfood. The bioactive compound, Astaxanthin, contains the core ingredients of most of your skincare products. Forget layering your skin with multiple serums, oils and moisturisers – by preserving the quality of the red algae in our cold press extraction technology, you can simply Seacra and go.
  </p>
<br>
  <button>View more</button>
 </div>
</div>
  <div class="column1-text">
    <img
      src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/MicrosoftTeams-image57aa03784e8c385b79e9db1982e4afd123dfb7fc771358fad45a70db879286dc_1_1.png?v=1669267687"/>
  </div>
{% schema %}
   {
    "name": "lftTxt-rtImg",
    "tag": "section",
    "class": "section",
    "settings": [],
    "presets": [
      {
        "name": "lftTxt-rtImg",
        "blocks": []
      }
    ]
   }
{% endschema %}