{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    {%- if section.settings.use_custom_colors %}
      --gradient-background: {% if section.settings.gradient_background != blank %}{{ section.settings.gradient_background }}{% else %}{{ section.settings.colors_background }}{% endif %};
      --color-background: {{ section.settings.colors_background.red }}, {{ section.settings.colors_background.green }}, {{ section.settings.colors_background.blue }};
      --color-foreground: {{ section.settings.colors_text.red }}, {{ section.settings.colors_text.green }}, {{ section.settings.colors_text.blue }};
      --color-link: var(--color-foreground);
      --color-border: var(--color-foreground);
      --color-heading: var(--color-foreground);
      --color-button-text: var(--color-background);
      --color-button-border: var(--color-foreground);
      --color-button-background: var(--color-foreground);
    {% endif -%}
  }
{%- endstyle -%}

{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'join-style.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- liquid
  assign custom_class = ''
  if section.settings.use_custom_colors
    assign custom_class = custom_class | append: ' rich-text--colored'
  endif
  if section.settings.horizontal_content
    assign custom_class = custom_class | append: ' rich-text--horizontal'
  endif
-%}

{%- if section.settings.show_divider %}<div class="section--divider">{% endif -%}
  <div class="vedio-section">
    <div class="vedio-1">
      <div style="position: relative;
    top: -28px">
        <span class="join-head-1">Join </span>
        <span class="join-head-1-1">Our Ambassador
          Program Today</span>
      </div>
    </div>
    <div class="versus-1">
      <div class="or-1">
        <div class="or-line-1" style="display: block;position: relative;top: 31px;
}"></div>
      </div>
    </div>
    <div class="vedio-2">

      <div style="position: relative;
    top: -13px;">
        <span class="love-ambassadors">1.What We’re Looking For </span>

        <p class="seacra-ambassadors">
          Someone with a passion for skincare and an audience
          of at least 2,500 on Instagram, Facebook,
          Youtube, Tik Tok another social platform.
        </p>
      </div>
    </div>
    <div class="vedio-3" style="position: relative;
    top: -26px;">
      <div>
        <span class="love-ambassadors"> 2. Love Our Ambassadors</span>
      </div>
      <p class="seacra-ambassadors">
        As a Seacra Ambassador, all you need to do is share your experience with our products to your friends, family,
        and you will reap the benefits we’re offering including commission and free products! the more you rave, the
        more you’ll earn. It’s that easy.
      </p>
    </div>
  </div>


{% schema %}
{
  "name": "join",
  "tag": "section",
  "class": "section",
  "settings": [  ],
  "presets": [
    {
      "name": "join",
      "blocks": []
    }
  ]
}
{% endschema %}
