{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --gradient-background: {% if section.settings.gradient_background != blank %}{{ section.settings.gradient_background }}{% else %}{{ section.settings.colors_background }}{% endif %};
    --color-background: {{ section.settings.colors_background.red }}, {{ section.settings.colors_background.green }}, {{ section.settings.colors_background.blue }};
    --color-foreground: {{ section.settings.colors_text.red }}, {{ section.settings.colors_text.green }}, {{ section.settings.colors_text.blue }};
    --color-border: {{ section.settings.colors_border.red }}, {{ section.settings.colors_border.green }}, {{ section.settings.colors_border.blue }};
    --color-link: var(--color-foreground);
    --color-button-text: var(--color-background);
    --color-button-border: var(--color-foreground);
    --color-button-background: var(--color-foreground);
    --color-shadow: var(--color-foreground);
    --shadow-opacity: 0.3;
  }
{%- endstyle -%}
<link rel="stylesheet" href="{{ 'new-before-image-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'new-before-image-slider.css' | asset_url | stylesheet_tag }}</noscript>

 <ul class="slides_review_alisha">
      <input type="radio" name="radio-btn" id="img-1-alis" checked />
      <li class="slide-alisha-container">
        <div class="slider__slide_ali" style="display: flex">
          <div class="alisha-review-slid">
            <h1>
              Alisha
              <span style="color: #4a4a4a"
                >managed to effectively treat her rosacea in just 3 weeks!</span
              >
            </h1>
            <p>
              "The gel was very effective in managing my skin's redness. Feeling
              a lot more glowy already! I usually get left with marks when I've
              had spots but since using the gel I'm not left with marks and they
              just disappear."-<span style="color: #cc4e61; font-weight: bold"
                >Alisha</span
              >
            </p>
            <a href="#" class="read_review_btn"
              ><button>Read the review</button></a
            >
          </div>
          <img
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1703_2.png?v=1675663629"
          />
        </div>

        <div class="nav_alish">
          <label for="img-3-alis" class="prev">&#x2039;</label>
          <label for="img-2-alis" class="next">&#x203a;</label>
        </div>
      </li>

      <input type="radio" name="radio-btn" id="img-2-alis" />
      <li class="slide-alisha-container">
        <div class="slider__slide_ali">
          <div class="alisha-review-slid">
            <h1>
              <span style="color: #4a4a4a">Reduce</span> acne
              <span style="color: #4a4a4a">,</span> bumps<span
                style="color: #4a4a4a"
                >, and</span
              >
              redness <span style="color: #4a4a4a">in just 5 weeks!</span>
            </h1>
            <p>
              <span style="color: #cc4e61; font-weight: bold">Martha</span> had
              been experiencing a skin purging period before using Seacra's Red
              Algae gel. After 5 weeks of use, she noticed that her forehead was
              clear and the inflammation and acne were remarkably decreased!
            </p>
            <a href="#" class="read_review_btn"
              ><button>Read the review</button></a
            >
          </div>
          <img
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1707.png?v=1675673932"
          />
        </div>
        <div class="nav_alish">
          <label for="img-1-alis" class="prev">&#x2039;</label>
          <label for="img-3-alis" class="next">&#x203a;</label>
        </div>
      </li>

      <li class="nav_alish-dots">
        <label for="img-1-alis" class="nav_alish-dot" id="img-dot-1"></label>
        <label for="img-2-alis" class="nav_alish-dot" id="img-dot-2"></label>
      </li>
    </ul>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    
{% schema %}
{
  "name": "new-before-image-slider",
  "tag": "section",
  "class": "section collage-section",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "new-before-image-slider",
      "blocks": []
    }
  ]
}
  
{% endschema %}