{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --gradient-background: {% if section.settings.gradient_background != blank %}{{ section.settings.gradient_background }}{% else %}{{ section.settings.colors_background }}{% endif %};
    --color-background: {{ section.settings.colors_background.red }}, {{ section.settings.colors_background.green }}, {{ section.settings.colors_background.blue }};
    --color-foreground: {{ section.settings.colors_text.red }}, {{ section.settings.colors_text.green }}, {{ section.settings.colors_text.blue }};
    --color-border: {{ section.settings.colors_border.red }}, {{ section.settings.colors_border.green }}, {{ section.settings.colors_border.blue }};
    --color-link: var(--color-foreground);
    --color-button-text: var(--color-background);
    --color-button-border: var(--color-foreground);
    --color-button-background: var(--color-foreground);
    --color-shadow: var(--color-foreground);
    --shadow-opacity: 0.3;
  }
{%- endstyle -%}
<link rel="stylesheet" href="{{ 'new-before-image-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'new-before-image-slider.css' | asset_url | stylesheet_tag }}</noscript>
<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />


<div class="center_review">
      <div class="slider" data-pos="0">
        <div class="slider__slides">
          <div class="slider__slide" >
            <div class="alisha-review-slid">
              <h1>
                Alisha managed to effectively treat her rosacea in just 3 weeks!
              </h1>
              <p>
                "The gel was very effective in managing my skin's redness.
                Feeling a lot more glowy already! I usually get left with marks
                when I've had spots but since using the gel I'm not left with
                marks and they just disappear."-Alisha
              </p>
            </div>
            <img
              src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1703_2.png?v=1675663629"
            />
          </div>
          <div class="slider__slide" style="display: flex">
            <div class="alisha-review-slid">
              <h1>Reduce acne, bumps, and redness in just 5 weeks!</h1>
              <p>
                Martha had been experiencing a skin purging period before using
                Seacra's Red Algae gel. After 5 weeks of use, she noticed that
                her forehead was clear and the inflammation and acne were
                remarkably decreased!
              </p>
            </div>
            <img
              src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1704_1.png?v=1675663688"
            />
          </div>
        </div>
        <div class="slider__dots">
          <a href="#" class="slider__indicator"></a>
          <a href="#" class="slider__dot" data-pos="0"></a>
          <a href="#" class="slider__dot" data-pos="1"></a>
          <!-- <a href="#" class="slider__dot" data-pos="2"></a>
			<a href="#" class="slider__dot" data-pos="3"></a> -->
        </div>
      </div>
    </div>
    
<script src="https://use.fontawesome.com/1744f3f671.js"></script>
<!-- partial -->
<script src="{{ 'new-before-image-slider.js' | asset_url }}"></script>

</body>
</html>

    


{% schema %}
{
  "name": "new-before-image-slider",
  "tag": "section",
  "class": "section collage-section",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "new-before-image-slider",
      "blocks": []
    }
  ]
}
  
{% endschema %}