{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --gradient-background: {% if section.settings.gradient_background != blank %}{{ section.settings.gradient_background }}{% else %}{{ section.settings.colors_background }}{% endif %};
    --color-background: {{ section.settings.colors_background.red }}, {{ section.settings.colors_background.green }}, {{ section.settings.colors_background.blue }};
    --color-foreground: {{ section.settings.colors_text.red }}, {{ section.settings.colors_text.green }}, {{ section.settings.colors_text.blue }};
    --color-border: {{ section.settings.colors_border.red }}, {{ section.settings.colors_border.green }}, {{ section.settings.colors_border.blue }};
    --color-link: var(--color-foreground);
    --color-button-text: var(--color-background);
    --color-button-border: var(--color-foreground);
    --color-button-background: var(--color-foreground);
    --color-shadow: var(--color-foreground);
    --shadow-opacity: 0.3;
  }
{%- endstyle -%}

{{ 'our-story-pink.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<div class="container">
  <div class="item-row-1">
    <div class="our-story">
      <div class="head1">
        <span >Our Story</span>
      </div>
      <h2>Real Skin is BEAUTIFUL</h2>
      <span class="head3">Your new cult beauty product has arrived</span>
      <p >
        <em>Inspired by the ocean’s hidden treasures, we sprcialise in  developing marine-bio Red Algae infused skincare products.
The sustainable choice for your skin and our planet.
        </em>
      </p>
      <br>
      <br>

      <div class="image">
        <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_1_b879da1a-1884-4e5c-ae56-332f1c2201d8.png?v=1667991401"/>
      </div>
      <br>
      <br>
      <span class="head3">Our Mission</span>
      <p >
        <em>To break the cycle of bad skin. For good.
To create high quality natural skincare products that are as effective as medicated treatments.
        </em>
      </p>
    </div>
  </div>
  <div class="item-row-2">
    <div class="item-col-1">
      <img class="side-image" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/pic_20_2.png?v=1667995114/">
    </div>
    <div class="item-col-2">
      <div class="philosophy">
        <h2>Our Philosophy</h2>
<!-- <br>
<p>Healthy skin is important to us but so is a healthy planet. We want our customers to trust in the expertise behind our brand, the efficacy of our products and that we never take our responsibilities for granted.Our philosophy and approach of responsible and sustainable business are incorporated into every aspect of the experience at Seacra.</p>
<p>Through manufacturing our own product, we ensure that our Red Algae has the maximum concentration of nutrients free of heavy metals, biological contaminants, and pesticides found in the ocean and the process is environmentally friendly as the plants we grow photosynthetically promote oxygen.
We will never compromise on our promise to deliver a sustainable choice for your skin and our planet.</p> -->
     </div>
    </div> 
    </div>
  </div>
</div>
  "presets": [
    {
      "name": "our-story-pink",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "video"
        },
        {
          "type": "product"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}

