{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  
  }
{%- endstyle -%}



<link rel="stylesheet" href="{{ 'our-boxed-logo.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

 <div class="our" style="text-align: center;">
      <img
        src="{{ 'logo.svg' | asset_url }}"
        width=30%
      />
    </div>
    <div class="main">
      <h1>
        "Welcome to the world of effective, natural skincare. We believe that
        healthy, glowing <br />
        skin exists in all of us. It just hasn’t been unmasked yet."!
      </h1>

{% schema %}
{
  "name": "our-boxed-logo",
  "tag": "section",
  "class": "section",
  "settings": [  ],
  "presets": [
    {
      "name": "our-boxed-logo",
      "blocks": []
    }
  ]
}
{% endschema %}
