{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  
  }
{%- endstyle -%}



<link rel="stylesheet" href="{{ 'our-boxed-logo.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

 <div class="our" style="text-align:center;">
      
      <img
        src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Rectangle_91827e0e-f65d-4fb1-95aa-a30f4c4d90c9.png?v=1669372624"
        class="logo"  style="width: 5%; top: 20px; position: relative;"
        />
    </div>
  </div>
    <div class="main">
      <h1>
        "Welcome to the world of effective, natural skincare. We believe that
        healthy, glowing skin exists in all of us. It just hasn’t been unmasked yet."!
      </h1>
    </div>

{% schema %}
{
  "name": "our-boxed-logo",
  "tag": "section",
  "class": "section",
  "settings": [  ],
  "presets": [
    {
      "name": "our-boxed-logo",
      "blocks": []
    }
  ]
}
{% endschema %}
