<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Blured cursor hover</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <body>
<script>
    <script src="./script.js"></script>

     //Page cursors

    document.getElementsByTagName("body")[0].addEventListener("mousemove", function(n) {
        t.style.left = n.clientX + "px", 
		t.style.top = n.clientY + "px", 
		e.style.left = n.clientX + "px", 
		e.style.top = n.clientY + "px"
		// i.style.left = n.clientX + "px", 
		// i.style.top = n.clientY + "px"
    });
    var t = document.getElementById("cursor"),
        e = document.getElementById("cursor2");
		// console.log("t", t)

		// console.log("e", e)
    function n(t) {
        e.classList.add("hover")
    }
    function s(t) {
        e.classList.remove("hover")
    }
    s();
    for (var r = document.querySelectorAll(".hover-link"), a = r.length - 1; a >= 0; a--) {
        o(r[a])
    }

    function o(t) {
        t.addEventListener("mouseover", n), t.addEventListener("mouseout", s)
    }
	//Color change on scroll

	$('.section li:nth-child(1)').on('mouseover', function(event) {				
		$('body').addClass('color-cyan');
	});				
	$('.section li:nth-child(1)').on('mouseout', function(event) {			
		$('body').removeClass('color-cyan');
	});

	$('.section li:nth-child(2)').on('mouseover', function(event) {				
		$('body').addClass('color-red');
	});				
	$('.section li:nth-child(2)').on('mouseout', function(event) {			
		$('body').removeClass('color-red');
	});


	 
    </script>
    </body>
      <ul class="section">
        <!-- <li>
          <a href="#" class="section-link hover-link">hover me</a>
        </li> -->
        <li>
          <h2>Natural Rosacea Treatment</h2>
          <p>
            1. It doesn’t damage your skin, naturally improves the production of
            cells in a healthy way 
            <br />
            2. Astaxanthin is a powerful antioxidant, so it naturally improves the
            make-up of your cells
            <br/>
            3. No physical effects other than adding a spring to your step
            <br/>
            4. 100% natural, so there are no side-effects
            <br/>
            5. Working to improve the production of 
            healthy cells so when you stop,
             your cells are in a better position
          </p>
          <!-- <a href="#" class="section-link cyan color-cyan hover-link"
            >Positive</a -->
          
        </li>
        <li>
          <h2>Prescribed Rosacea Treatment</h2>
          <p>
            1. Beta blockers and niacin cause blood 
            dilation and rosacea flare-ups
            <br/>
            2. Aggressively targets your skin causing dryness, irritation and sensitivity
            <br/>
            3. Causes physical affects such as indigestion, bloating, diarrhoea and sickness
            <br/>
            4. Cannot be used for a long-period without extreme side-effects
            <br/>
            5. Not sustainable. When you stop using the treatment, your Rosacea returns
          </p>
          <!-- <a href="#" class="section-link red hover-link">Negative</a> -->
        </li>
      </ul>

      <div class="cursor" id="cursor"></div>
      <div class="cursor2" id="cursor2"></div>

      <!-- Link to page
	================================================== -->

      <a
        href="https://themeforest.net/user/ig_design/portfolio"
        class="link-to-portfolio hover-link"
        target="”_blank”"
      ></a>
    </body>
    <!-- partial -->
  </body>
</html>



{%- style -%}
    body {
      margin: 10;
      padding: 0;
      font-family: "Poppins";
      background: 00ee0e;
      box-sizing: border-box;
}

.cursor,
.cursor2 {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
}

@media screen and (max-width: 1200px) {
  .cursor,
  .cursor2 {
    display: none;
  }
}
a {
  cursor: pointer;
  text-decoration: none;
}

/* #Sections and link
================================================== */

.section {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  background-color: #fff;
}

.section li {
  position: relative;
  /* width: 100%; */
  width:70%;
  height: 80vh;
  display: block;
  padding: 0;
  margin: 64px;
  /* margin-left: 100px;
  margin-right:100px; */
  /* top: 25px; */
  list-style: none;
  z-index: 3;
  background: rgba(217, 217, 217, 0.032);
  border: 1px solid #e7e7e7;
}

h2 {
  position: absolute;
  width: 458px;
  height: 88px;
  top: 34px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 139%;
  text-align: center;
  color: #cc4e61;
  position: absolute;
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  z-index: 1;
}
p {
  position: absolute;
  width: 432px;
  height: 81px;
  left: 40px;
  top: 158px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #4a4a4a;
}
.section-link {
  position: absolute;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  top: 50%;
  left: 50%;
  color: #fff;
  z-index: 2;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* text color  */

.section-link {
  color: pink;
}
.section-link.cyan {
  color: #1abc9c;
}
.section-link.red {
  color: #e74c3c;
}

/* blured effect */

.cursor2 {
  height: 36px;
  width: 36px;
  z-index: 99998;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.cursor2 {
  border: none;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 14px rgba(255, 255, 255, 0.5);
  -webkit-transform: scale(4) translateX(-25%) translateY(-25%);
  transform: scale(4) translateX(-25%) translateY(-25%);
}
.color-cyan .cursor2 {
  border: none;
  background: rgba(46, 204, 113, 0.3);
  box-shadow: 0 0 14px rgba(46, 204, 113, 0.6);
}
.color-cyan .cursor2.hover {
  border: none;
  background: rgba(178, 222, 39, 0.1);
  box-shadow: 0 0 14px rgba(46, 204, 113, 0.6);
}
.color-red .cursor2 {
  border: none;
  background: rgba(231, 76, 60, 0.3);
  box-shadow: 0 0 14px rgba(231, 76, 60, 0.6);
}
.color-red .cursor2.hover {
  border: none;
  background: rgba(231, 76, 60, 0.1);
  box-shadow: 0 0 14px rgba(231, 76, 60, 0.6);
}

  {%- endstyle -%}

{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{%- endstyle -%}

<!-- {{ 'section-main-page.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="section--padding{% if section.settings.show_divider %} section--divider{% endif %}">
  <div class="page-width{% if section.settings.narrow %} page-width--inner{% endif %}">
    <div class="title-wrapper {{ section.settings.heading_alignment }}">
      <{{ section.settings.heading_tag }} class="title {{ section.settings.heading_size }}">{{ section.settings.heading | default: section.settings.page.title | escape }}</{{ section.settings.heading_tag }}>
    </div>
    
    <div class="rte">
      {%- if section.settings.page.content != blank -%}
        {{ section.settings.page.content }}
      {%- else -%}
        <div class='page-placeholder-wrapper placeholder'>
          {{ 'page' | placeholder_svg_tag: 'page-placeholder' }}
        </div>
      {%- endif -%}
    </div>
  </div>
</div> -->

{% schema %}
{
  "name": "t:sections.page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "t:sections.page.settings.page.label"
    },
    {
      "type": "checkbox",
      "id": "narrow",
      "default": false,
      "label": "t:sections.all.narrow.label"
    },
    {
      "type": "checkbox",
      "id": "show_divider",
      "default": false,
      "label": "t:sections.all.show_divider.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.label"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Page title",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.all.heading_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.heading_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.heading_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.heading_alignment.options__3.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.all.heading_tag.options__7.label"
        },
        {
          "value": "span",
          "label": "t:sections.all.heading_tag.options__8.label"
        },
        {
          "value": "p",
          "label": "t:sections.all.heading_tag.options__9.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_tag.label",
      "info": "t:sections.all.heading_tag.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.header.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.page.presets.name"
    }
  ]
}
{% endschema %}
