{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --gradient-background: {% if section.settings.gradient_background != blank %}{{ section.settings.gradient_background }}{% else %}{{ section.settings.colors_background }}{% endif %};
    --color-background: {{ section.settings.colors_background.red }}, {{ section.settings.colors_background.green }}, {{ section.settings.colors_background.blue }};
    --color-foreground: {{ section.settings.colors_text.red }}, {{ section.settings.colors_text.green }}, {{ section.settings.colors_text.blue }};
    --color-border: {{ section.settings.colors_border.red }}, {{ section.settings.colors_border.green }}, {{ section.settings.colors_border.blue }};
    --color-link: var(--color-foreground);
    --color-button-text: var(--color-background);
    --color-button-border: var(--color-foreground);
    --color-button-background: var(--color-foreground);
    --color-shadow: var(--color-foreground);
    --shadow-opacity: 0.3;
  }
{%- endstyle -%}
<link rel="stylesheet" href="{{ 'positive-negative.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'positive-negative.css' | asset_url | stylesheet_tag }}</noscript>

<div class="positive-negative-container">
  <ul class="posnegsection">
    <!--
      <li>
        <a href="#" class="section-link hover-link">hover me</a>
      </li>
    -->
    <li class="positive circles1">
      <span class="circle11"></span>
      <span class="circle12"></span>
      <span class="circle13"></span>
      <h2 class="header-1">Natural Rosacea Treatment</h2>
      <ol class="bullet-points">
        <li>
          <div class="text-points">
            It doesn’t damage your skin, <span style= "color: #cc4e61">naturally improves</span> the production of cells in a <span style= "color: #cc4e61">healthy way</span>
          </div>
        </li>
        <li>
          <div class="text-points">
            Astaxanthin is a powerful <span style= "color: #cc4e61">antioxidant</span>, so it naturally <span style= "color: #cc4e61">improves the make-up</span> of your cells
          </div>
        </li>
        <li>
          <div class="text-points"><span style= "color: #cc4e61">No physical effects</span> other than adding a spring to your step</div>
        </li>
        <li>
          <div class="text-points"><span style= "color: #cc4e61">100% natural,</span> so there are no <span style= "color: #cc4e61">side-effects</span></div>
        </li>
        <li>
          <div class="text-points">
            Working to improve the production of <span style= "color: #cc4e61">healthy cells</span> so when you stop, your cells are in a <span style= "color: #cc4e61">better position</span>
          </div>
        </li>
      </ol>
    </li>
        <li class="unknown-container"></li>
    <li class="versus">
      <div class="or">
        <div class="or-line" style="display: block;"></div>
        <div class="or-label"><span class="subtext">VS</span></div>
      </div>
    </li>
    <li class="negative circles2">
      <span class="circle11"></span>
      <span class="circle12"></span>
      <span class="circle13"></span>
      <h2 class="header-2">Prescribed Rosacea Treatment</h2>
      <ol class="bullet-points">
        <li>
          <div class="text-points">Beta blockers and niacin cause <span style= "color: #cc4e61">blood dilation</span> and <span style= "color: #cc4e61">rosacea flare-ups</span></div>
        </li>
        <li>
          <div class="text-points"><span style= "color: #cc4e61">Aggressively</span> targets your skin causing <span style= "color: #cc4e61">dryness, irritation and sensitivity</span></div>
        </li>
        <li>
          <div class="text-points">Affects you <span style= "color: #cc4e61">physically, stomach aches,</span> and <span style= "color: #cc4e61">mentally</span></div>
        </li>
        <li>
          <div class="text-points"><span style= "color: #cc4e61">Cannot</span> be <span style= "color: #cc4e61">used</span> for a <span style= "color: #cc4e61">long-period</span> without extreme <span style= "color: #cc4e61">side-effects</span></div>
        </li>
        <li>
          <div class="text-points">Not sustainable. When you stop using the treatment, your <span style= "color: #cc4e61">acne returns</span></div>
        </li>
      </ol>
    </li>
  </ul>
  <div class="" id="cursor"></div>
  <div class="" id="cursor2"></div>
</div>
<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
<script src="{{ 'positive-negative.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "Positive Negative",
  "tag": "section",
  "class": "section collage-section",
  "presets": [
    {
      "name": "Positive Negative",
      "blocks": []
    }
  ]
}
{% endschema %}
