{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --gradient-background: {% if section.settings.gradient_background != blank %}{{ section.settings.gradient_background }}{% else %}{{ section.settings.colors_background }}{% endif %};
    --color-background: {{ section.settings.colors_background.red }}, {{ section.settings.colors_background.green }}, {{ section.settings.colors_background.blue }};
    --color-foreground: {{ section.settings.colors_text.red }}, {{ section.settings.colors_text.green }}, {{ section.settings.colors_text.blue }};
    --color-border: {{ section.settings.colors_border.red }}, {{ section.settings.colors_border.green }}, {{ section.settings.colors_border.blue }};
    --color-link: var(--color-foreground);
    --color-button-text: var(--color-background);
    --color-button-border: var(--color-foreground);
    --color-button-background: var(--color-foreground);
    --color-shadow: var(--color-foreground);
    --shadow-opacity: 0.3;
  }
{%- endstyle -%}
<link rel="stylesheet" href="{{ 'positive-negative.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'positive-negative.css' | asset_url | stylesheet_tag }}</noscript>

<div class="positive-negative-container">
  <ul class="posnegsection">
    <!--
      <li>
        <a href="#" class="section-link hover-link">hover me</a>
      </li>
    -->
    <li class="positive circles1">
      <span class="circle11"></span>
      <span class="circle12"></span>
      <span class="circle13"></span>
      <h2 class="header-1">Natural Skincare Treatment</h2>
      <ul class="bullet-points">
        <li>
            <div class="text-points"><span style="color: #cc4e61">Natural</span> organic <span style="color: #cc4e61">ingredients</span>, harvested <span style="color: #cc4e61">sustainably</span></div>
        </li>
        <li>
          <div class="text-points">
            Astaxanthin is a powerful <span style="color: #cc4e61">antioxidant</span> in <span style="color: #cc4e61">red algae</span> and works with your skin to <span style="color: #cc4e61">change the way</span> it behaves
          </div>
        </li>
        <li>
          <div class="text-points">
            There are <span style="color: #cc4e61">zero side-effects</span> as all ingredients are natural. Astaxanthin works to <span style="color: #cc4e61">improve the health</span> of your
            cells deep in the <span style="color: #cc4e61">dermis</span> and improve the way your skin reacts to additional skincare products
          </div>
        </li>
        <li>
          <div class="text-points"><span style="color: #cc4e61">100% natural,</span> so there are no <span style="color: #cc4e61">side-effects</span></div>
        </li>
      </ol>
    </li>
    <li style="height: auto;width: 10%;background: white;"></li>
    <li class="versus">
      <div class="or">
        <div class="or-line" style="display: block;"></div>
        <div class="or-label"><span class="subtext">VS</span></div>
      </div>
    </li>
    <li class="negative circles2">
      <span class="circle11"></span>
      <span class="circle12"></span>
      <span class="circle13"></span>
      <h2 class="header-2">Chemical Skincare Treatment</h2>
      <ul class="bullet-points">
        <li>
          <div class="text-points"><span style="color: #cc4e61">Low-grade</span>, mass produced <span style="color: #cc4e61">ingredients</span>span></div>
        </li>
        <li>
          <div class="text-points">
            <span style="color: #cc4e61">Chemicals</span> are <span style="color: #cc4e61">harsh</span> to get results, working <span style="color: #cc4e61">against the natural make-up</span> of your <span style="color: #cc4e61">skin</span>
          </div>
        </li>
        <li>
          <div class="text-points">
            One ingredient may help a specific problem but ends up <span style="color: #cc4e61">creating another. Retinol</span> causes <span style="color: #cc4e61">redness, dryness and
            peeling</span> if used for a prolonged period
          </div>
        </li>
        <li>
          <div class="text-points"><span style="color: #cc4e61">Cannot</span> be used for a <span style="color: #cc4e61">long-period</span><span style="color: #cc4e61"> without extreme side-effects</div>
        </li>
      </ol>
    </li>
  </ul>
  <div class="" id="cursor"></div>
  <div class="" id="cursor2"></div>
</div>
<div class="rich-text section--padding">
  <div class="rich-text__blocks center mobile-center pos-neg">
    <a class="button button--small" role="link" aria-disabled="true"> Shop now </a>
  </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
<script src="{{ 'positive-negative.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "Positive Negative Home",
  "tag": "section",
  "class": "section collage-section",
  "presets": [
    {
      "name": "Positive Negative Home",
      "blocks": []
    }
  ]
}
{% endschema %}
