{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --gradient-background: {% if section.settings.gradient_background != blank %}{{ section.settings.gradient_background }}{% else %}{{ section.settings.colors_background }}{% endif %};
    --color-background: {{ section.settings.colors_background.red }}, {{ section.settings.colors_background.green }}, {{ section.settings.colors_background.blue }};
    --color-foreground: {{ section.settings.colors_text.red }}, {{ section.settings.colors_text.green }}, {{ section.settings.colors_text.blue }};
    --color-border: {{ section.settings.colors_border.red }}, {{ section.settings.colors_border.green }}, {{ section.settings.colors_border.blue }};
    --color-link: var(--color-foreground);
    --color-button-text: var(--color-background);
    --color-button-border: var(--color-foreground);
    --color-button-background: var(--color-foreground);
    --color-shadow: var(--color-foreground);
    --shadow-opacity: 0.3;
  }
{%- endstyle -%}
<link rel="stylesheet" href="{{ 'product-repair-gel-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'product-repair-gel-slider.css' | asset_url | stylesheet_tag }}</noscript>

<section class="collection_gelrow">
  <div class="collection_column">
    <h1>Recovery &<br />Repair Gel</h1>
    <div class="collection_stars">
      <img
        src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_38.png?v=1674216815"
      />
      <img
        src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_38.png?v=1674216815"
      />
      <img
        src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_38.png?v=1674216815"
      />
      <img
        src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_38.png?v=1674216815"
      />
      <img
        src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_38.png?v=1674216815"
      />
    </div>

    <div class="main-bottlecollection_gelrows">
      <!-- <p>size</p> -->
      <div class="bottls_collection_gelrows">
        <img
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Frame_25.png?v=1674217411"
        />
        <!-- <label class="gel_btns" for="Img-1" class="Nav-Dot" id="Img-Dot-1"></label> -->
        <!-- <button class="gel_btns" for="Img-1" class="Nav-Dot" id="Img-Dot-1">30ml</button> -->
        <label class="gel_btns" for="Img-1" class="Nav-Dot" id="Img-Dot-1">30ml</label>
        <!-- <button class="gel_btns" for="Img-2" class="Nav-Dot" id="Img-Dot-2">50ml</button> -->
        <label class="gel_btns" for="Img-2" class="Nav-Dot" id="Img-Dot-2">50ml</label>
      </div>
      <div class="bottls_collection_gelrows">
        <img
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Frame_25.png?v=1674217411"
        />
        <!-- <button class="gel_btns" for="Img-3" class="Nav-Dot" id="Img-Dot-3">30ml</button> -->
        <label class="gel_btns" for="Img-3" class="Nav-Dot" id="Img-Dot-3">30ml</label>
        <!-- <button class="gel_btns" for="Img-4" class="Nav-Dot" id="Img-Dot-4">50ml</button> -->
        <label class="gel_btns" for="Img-4" class="Nav-Dot" id="Img-Dot-4">50ml</label>
      </div>
    </div>
  </div>

  <div class="collection_column">
    <ul class="repaiegel_Slides">
      <input type="Radio" name="Radio-Btn" id="Img-1" checked />
      <li class="Slide-Containerr">
        <div class="collec_Slide">
          <img
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Layer_0_1_5c6073aa-13db-4ceb-8709-33917623a141.png?v=1674209460"
          />
          <button class="buyIT_nowbtn">Buy It Now</button>
          <!-- <img class="bag"src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_974.png?v=1674218631" /> -->
        </div>
      </li>
      <input type="Radio" name="Radio-Btn" id="Img-2" />
      <li class="Slide-Containerr">
        <div class="collec_Slide">
          <img
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Seacra_bottle_with_refill_2.png?v=1674209459"
          />
        </div>
      </li>
      <input type="Radio" name="Radio-Btn" id="Img-3" />
      <li class="Slide-Containerr">
        <div class="collec_Slide">
          <img
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Refill_o_4_48b94bb9-0596-481c-b107-6aad98bbfded.png?v=1674211042"
          />
        </div>
      </li>
      <input type="Radio" name="Radio-Btn" id="Img-4" />
      <li class="Slide-Containerr">
        <div class="collec_Slide">
          <img
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Refill_o_5.png?v=1674211042"
          />
        </div>
      </li>
      <input type="Radio" name="Radio-Btn" id="Img-5" />
      <!-- <Li Class="Slide-Container">
                <Div Class="Slide">
                    <Img
                        Src="Http://Farm9.Staticflickr.Com/8055/8098750623_66292a35c0_z.Jpg"
                    />
                </Div>
                <Div Class="Nav">
                    <Label For="Img-4" Class="Prev">&#X2039;</Label>
                    <Label For="Img-6" Class="Next">&#X203a;</Label>
                </Div>
            </Li>
            <Input Type="Radio" Name="Radio-Btn" Id="Img-6" />
            <Li Class="Slide-Container">
                <Div Class="Slide">
                    <Img
                        Src="Http://Farm9.Staticflickr.Com/8195/8098750703_797e102da2_z.Jpg"
                    />
                </Div>
                <Div Class="Nav">
                    <Label For="Img-5" Class="Prev">&#X2039;</Label>
                    <Label For="Img-1" Class="Next">&#X203a;</Label>
                </Div>
            </Li> -->
      <li class="Nav-Dots">
        <label for="Img-1" class="Nav-Dot" id="Img-Dot-1"></label>
        <label for="Img-2" class="Nav-Dot" id="Img-Dot-2"></label>
        <label for="Img-3" class="Nav-Dot" id="Img-Dot-3"></label>
        <label for="Img-4" class="Nav-Dot" id="Img-Dot-4"></label>
        <!-- <Label For="Img-5" Class="Nav-Dot" Id="Img-Dot-5"></Label>
                <Label For="Img-6" Class="Nav-Dot" Id="Img-Dot-6"></Label> -->
      </li>
    </ul>
  </div>
</section>


{% schema %}
{
  "name": "product-repair-gel-slider",
  "tag": "section",
  "class": "section collage-section",
  "presets": [
    {
      "name": "product-repair-gel-slider",
      "blocks": []
    }
  ]
}
  
{% endschema %}