<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="{{ 'slick.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'slick-prod-theme.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'slick.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'slick-prod-theme.css' | asset_url | stylesheet_tag }}</noscript>
<link
  rel="stylesheet"
  href="{{ 'product_bundle.css' | asset_url }}"
>
<!-- Demo styles -->
<style></style>
<!-- Swiper -->
<div class="product-bundle">
  <div class="prod prod-responsive portfolio_slider">
    <div class="inner">
      <div class="ba-slider" style="margin: 0 5%;">
        <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1427_34ad5dad-4866-409f-840c-6950660426c5.png?v=1671707486">
      </div>
    </div>
    <div class="inner">
      <div class="ba-slider" style="margin: 0 5%;">
        <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1475_1.png?v=1671707593">
      </div>
    </div>
    <div class="inner">
      <div class="ba-slider" style="margin: 0 5%;">
        <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1484_1.png?v=1671707696">
      </div>
    </div>
    <div class="inner">
      <div class="ba-slider" style="margin: 0 5%;">
        <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1421_1.png?v=1671707770">
      </div>
    </div>
    <div class="inner">
      <div class="ba-slider" style="margin: 0 5%;">
        <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1479.jpg?v=1671624916">
      </div>
    </div>
    <div class="inner">
      <div class="ba-slider" style="margin: 0 5%;">
        <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1478.jpg?v=1671623731">
      </div>
    </div>
    <div class="inner">
      <div class="ba-slider" style="margin: 0 5%;">
        <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1477_1.png?v=1671686949">
      </div>
    </div>
    <div class="inner">
      <div class="ba-slider" style="margin: 0 5%;">
        <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1476_1.png?v=1671687004">
      </div>
    </div>
  </div>
</div>

<!-- Swiper JS -->
<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
<script src="{{ "slick-prod.min.js" | asset_url }}"></script>
<script src="{{ "prod_bundle.js" | asset_url }}"></script>

{% schema %}
{
  "name": "Prdocut Bundle",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Product Bundle"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
