{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --gradient-background: {% if section.settings.gradient_background != blank %}{{ section.settings.gradient_background }}{% else %}{{ section.settings.colors_background }}{% endif %};
    --color-background: {{ section.settings.colors_background.red }}, {{ section.settings.colors_background.green }}, {{ section.settings.colors_background.blue }};
    --color-foreground: {{ section.settings.colors_text.red }}, {{ section.settings.colors_text.green }}, {{ section.settings.colors_text.blue }};
    --color-border: {{ section.settings.colors_border.red }}, {{ section.settings.colors_border.green }}, {{ section.settings.colors_border.blue }};
    --color-link: var(--color-foreground);
    --color-button-text: var(--color-background);
    --color-button-border: var(--color-foreground);
    --color-button-background: var(--color-foreground);
    --color-shadow: var(--color-foreground);
    --shadow-opacity: 0.3;
  }
{%- endstyle -%}
<link rel="stylesheet" href="{{ 'recovery-refill-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'recovery-refill-slider.css' | asset_url | stylesheet_tag }}</noscript>

<section class="collection_refillrow16">
   <div class="collection_first_column16">
    <ul class="repair-refill_Slides16">
      <input type="Radio" name="Radio-Btnnnnn16" id="Imgg-16" checked />
      <li class="Slide_refill-Containerr16">
        <div class="collecction_Slide16">
          <img
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Refill_o_3.png?v=1674556927"
          />
          <div class="buyy___btnns">
            <button class="buy-IT_nowbtn16">Buy It Now</button>
          <img class="cartt" src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_974.png?v=1674218631" />
          </div>
          
        </div>
      </li>
      <input type="Radio" name="Radio-Btnnnnn16" id="Imgg-26" />
      <li class="Slide_refill-Containerr16">
        <div class="collecction_Slide16">
          <img
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Refill_o_3_1.png?v=1674556946"
          />
          <button class="buy-IT_nowbtn16">Buy It Now</button>
        </div>
      </li>
    
      <li class="Nav-Dotss16">
        <label for="Imgg-16" class="Nav-Dott16" id="Img-Dot-16"></label>
        <label for="Imgg-26" class="Nav-Dott16" id="Img-Dot-26"></label>
      </li>
    </ul>
  </div>

   <div class="collection_second_column16">
    <div class="left_gel_main">
      <h1>Recovery <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/2.png?v=1674557094"/><br />Repair Gel <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/9022a705161ff42b7879d88f1fd6d0e8.png?v=1674557094"/>Refill</h1>
      <div class="collection_stars16">
        <img
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_38.png?v=1674216815"
        />
        <img
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_38.png?v=1674216815"
        />
        <img
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_38.png?v=1674216815"
        />
        <img
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_38.png?v=1674216815"
        />
        <img
          src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Vector_38.png?v=1674216815"
        />
      </div>

      <div class="ml_sizes">
          <p>size</p>
          <img
            src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Frame_27.png?v=1674474171"
          />
            <label class="gel_btns16" for="Imgg-16" class="Nav-Dott16" id="Img-Dot-16">30ml</label>
            <label class="gel_btns16" for="Imgg-26" class="Nav-Dott16" id="Img-Dot-26">50ml</label>
    </div>
    
  </div>
</section>

{% schema %}
{
  "name": "recovery-refill-slider",
  "tag": "section",
  "class": "section collage-section",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "recovery-refill-slider",
      "blocks": []
    }
  ]
}
  
{% endschema %}

