{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --gradient-background: {% if section.settings.gradient_background != blank %}{{ section.settings.gradient_background }}{% else %}{{ section.settings.colors_background }}{% endif %};
    --color-background: {{ section.settings.colors_background.red }}, {{ section.settings.colors_background.green }}, {{ section.settings.colors_background.blue }};
    --color-foreground: {{ section.settings.colors_text.red }}, {{ section.settings.colors_text.green }}, {{ section.settings.colors_text.blue }};
    --color-border: {{ section.settings.colors_border.red }}, {{ section.settings.colors_border.green }}, {{ section.settings.colors_border.blue }};
    --color-link: var(--color-foreground);
    --color-button-text: var(--color-background);
    --color-button-border: var(--color-foreground);
    --color-button-background: var(--color-foreground);
    --color-shadow: var(--color-foreground);
    --shadow-opacity: 0.3;
  }
{%- endstyle -%}
<link rel="stylesheet" href="{{ 'six-months-collagen.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'six-months-collagen.css' | asset_url | stylesheet_tag }}</noscript>

  <main class="content">
      <article class="p03">
        <h1 class="six-months__title">
          Imagine the glow after
          <span style="color: #cc4e61">six months, a year, two years...</span>
        </h1>
        <div class="six_months-row1">
          <div class="six-months-col1">
            <div class="p03__boxs">
              <img
                class="p03__image"
                src="https://www.w3schools.com/images/lamp.jpg"
                alt="Lamp"
                width="80"
                height="80"
              />

              <article class="p03__box">
                <h2 class="p03__box__title">May Relieve Joint Pain</h2>
                <br/>
                <p class="p03__box__text--bottom">
                  As you age and your body produces less collagen, you are more
                  prone to degenerative joint disorders like osteoarthritis.
                  Some studies have found that daily collagen intake may help
                  reduce joint pain and improve symptoms in people with
                  osteoarthritis.
                </p>
              </article>
            </div>
          </div>

          <div class="six-months-col2">
            <div class="p03__boxs" >
              <img
                class="p03__image"
                src="https://www.w3schools.com/images/lamp.jpg"
                alt="Lamp"
                width="80"
                height="80"
              />

              <article class="p03__box"  style="padding:50px 10px">
                <h2 class="p03__box__title">May Prevent Bone Loss</h2>
                <br/>
                <p class="p03__box__text--bottom">
                  Studies have found that collagen supplements can help inhibit
                  bone breakdown, which may prevent or slow the development of
                  osteoporosis..
                </p>
              </article>
            </div>
          </div>
        </div>
        <br />
        <br />
        <br />
        <div class="six_months-row2">
          <div class="p03__boxs">
            <img
              class="p03__image"
              src="https://www.w3schools.com/images/lamp.jpg"
              alt="Lamp"
              width="80"
              height="80"
            />
  
            <article class="p03__box">
              <h2 class="p03__box__title">May Promote Heart Health</h2>
              <br/>
              <p class="p03__box__text--bottom">
                May Promote Heart Health Collagen gives structure to your
                arteries, the vessels that carry blood from your heart throughout
                the rest of the body. Without enough collagen, those vessels can
                become less flexible and elastic—and eventually weaken over time
              </p>
            </article>
          </div>
        </div>
      </article>
    </main>
    
{% schema %}
{
  "name": "six-months-collagen",
  "tag": "section",
  "class": "section collage-section",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "six-months-collagen",
      "blocks": []
    }
  ]
}
  
{% endschema %}