{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --gradient-background: {% if section.settings.gradient_background != blank %}{{ section.settings.gradient_background }}{% else %}{{ section.settings.colors_background }}{% endif %};
    --color-background: {{ section.settings.colors_background.red }}, {{ section.settings.colors_background.green }}, {{ section.settings.colors_background.blue }};
    --color-foreground: {{ section.settings.colors_text.red }}, {{ section.settings.colors_text.green }}, {{ section.settings.colors_text.blue }};
    --color-border: {{ section.settings.colors_border.red }}, {{ section.settings.colors_border.green }}, {{ section.settings.colors_border.blue }};
    --color-link: var(--color-foreground);
    --color-button-text: var(--color-background);
    --color-button-border: var(--color-foreground);
    --color-button-background: var(--color-foreground);
    --color-shadow: var(--color-foreground);
    --shadow-opacity: 0.3;
  }
{%- endstyle -%}
<!-- <link rel="stylesheet" href="{{ 'key-line-ambasssador.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'key-line-ambasssador.css' | asset_url | stylesheet_tag }}</noscript> -->

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
/>
<style>
  .image-container12 {
    padding-bottom: 50px;
  }
  .row {
    margin:0px 10px;
/*     padding-top: 50px; */
  }
  .image-text-overlay {
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  .image-text-overlay.text-white {
    color: white;
  }
  .image-text-overlay .overlay-title {
    font-size: 53px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .image-text-overlay .overlay-subtext {
   font-size: 23px;
    font-weight: bold;
  }
  .image-text-overlay .overlay-white,
  .image-text-overlay .overlay-black {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.7;
  }
  .image-text-overlay .overlay-black {
    background: transparent;
  }
  .image-text-overlay .overlay-white {
    background: #fff;
  }
  .text-top-left,
  .text-top-center,
  .text-top-right,
  .text-middle-left,
  .text-middle-center,
  .text-middle-right,
  .text-bottom-left,
  .text-bottom-right,
  .text-bottom-center {
    display: table;
  }
  .text-top-left p,
  .text-top-center p,
  .text-top-right p,
  .text-middle-left p,
  .text-middle-center p,
  .text-middle-right p,
  .text-bottom-left p,
  .text-bottom-right p,
  .text-bottom-center p {
    display: table-cell;
    position: relative;
    z-index: 2;
    padding: 15px 20px 15px 20px;
  }
  .text-top-left p {
    vertical-align: top;
    text-align: left;
  }
  .text-top-center p {
    vertical-align: top;
    text-align: center;
  }
  .text-top-right p {
    vertical-align: top;
    text-align: right;
  }
  .text-middle-left p {
    vertical-align: middle;
    text-align: left;
  }
  .text-middle-center p {
    vertical-align: middle;
    text-align: center;
  }
  .text-middle-right p {
    vertical-align: middle;
    text-align: right;
  }
  .text-bottom-left p {
    vertical-align: bottom;
    text-align: left;
  }
  .text-bottom-center p {
    vertical-align: bottom;
    text-align: center;
  }
  .text-bottom-right p {
    vertical-align: bottom;
    text-align: right;
  }
  @media (min-width: 1200px) {
    .container {
      width: 1200px;
    }
      .row {
    margin:0px 10px;
  }
  }
  @media screen and (max-width: 992px) {
    .col-md-4 {
   
      padding-bottom: 25px;
    }
  }
</style>

<div class="image-container12">
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <div
        class="image-text-overlay text-bottom-center text-white"
        style="
          background-image: url(https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1487.png?v=1671710497);
          height: 64vh;
        "
      >
        <p>
          <span class="overlay-title">100%</span><br />
          <span class="overlay" style="font-size:19px;font-weight:normal;">Agreed that their skin was more</span><br />
          <span class="overlay-subtext">Hydrated</span>
        </p>
        <div class="overlay-black"></div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div
        class="image-text-overlay text-bottom-center text-white"
        style="
          background-image: url(https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1488.png?v=1671710497);
          height: 64vh;
        "
      >
        <p>
          <span class="overlay-title">95%</span><br />
          <span class="overlay" style="font-size:19px;font-weight:normal;"
            >Agreed that their visible bumps & blemishes</span
          ><br />
          <span class="overlay-subtext">Had Faded</span>
        </p>
        <div class="overlay-black"></div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div
        class="image-text-overlay text-bottom-center text-white"
        style="
          background-image: url(https://cdn.shopify.com/s/files/1/0669/6343/9927/files/Group_1489.png?v=1671710497);
          height: 64vh;
        "
      >
        <p>
          <span class="overlay-title">90%</span><br />
          <span class="overlay" style="font-size:19px;font-weight:normal;">Agreed that their skin became</span><br />
          <span class="overlay-subtext">Brighter</span>
        </p>
        <div class="overlay-black"></div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "three-science-img",
  "tag": "section",
  "class": "section collage-section",
  "presets": [
    {
      "name": "three-science-img",
      "blocks": []
    }
  ]
}
  
{% endschema %}