{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --gradient-background: {% if section.settings.gradient_background != blank %}{{ section.settings.gradient_background }}{% else %}{{ section.settings.colors_background }}{% endif %};
    --color-background: {{ section.settings.colors_background.red }}, {{ section.settings.colors_background.green }}, {{ section.settings.colors_background.blue }};
    --color-foreground: {{ section.settings.colors_text.red }}, {{ section.settings.colors_text.green }}, {{ section.settings.colors_text.blue }};
    --color-border: {{ section.settings.colors_border.red }}, {{ section.settings.colors_border.green }}, {{ section.settings.colors_border.blue }};
    --color-link: var(--color-foreground);
    --color-button-text: var(--color-background);
    --color-button-border: var(--color-foreground);
    --color-button-background: var(--color-foreground);
    --color-shadow: var(--color-foreground);
    --shadow-opacity: 0.3;
  }
{%- endstyle -%}
<link rel="stylesheet" href="{{ 'customer-three-image.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'customer-three-image.css' | asset_url | stylesheet_tag }}</noscript>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
  <body>
      <div class="customer-carbon-image1">
          <div class="sec1" >
           <div class="one-slider">
               <div class="ba-slider" style="position: absolute;left: 286px;width: 378px;top:-77px;height: 342px;">
       
                   <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/comp1.png?v=1671687916">
                   <div class="resize">
                       <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/comp2.png?v=1671687916">
                   </div>
                   <span class="handle"></span>
                </div>
                <br/>
                <br/>
                         <div style="position:absolute;right: -551px; top:261px;width: 510px;"> 
                          <button style="color: #FFFFFF;width: 18rem;margin-top: 3rem;margin-bottom: 1rem;height: 4rem;background-color: #CC4E61;border-radius: 2rem;"> <a href="https://seacra-dev.myshopify.com/pages/janes-story" style="color:#FFFFFF">Listen to Jane’s Story</a></button>  
                        </div>
           </div>
         </div>         
        </div>         
       </div>
  <div class="customer-carbon-image2">
      <div class="sec2" >
       <div class="one-slider">
           <div class="ba-slider" style="position: absolute;left: 1012px;width: 378px;top:-374px;height: 342px;">
   
               <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/comp3.png?v=1671687918">
               <div class="resize">
                   <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/comp4.png?v=1671687917">
               </div>
               <span class="handle"></span>
            </div>
            <br/>
            <br/>
                     <div style="position:absolute;right: -1235px; top: -35px;width: 510px;"> 
                       <button style="color: #FFFFFF;width: 18rem;margin-top: 3rem;margin-bottom: 1rem;height: 4rem;background-color: #CC4E61;border-radius: 2rem;"> <a href="https://seacra-dev.myshopify.com/pages/maddy-story" style="color:#FFFFFF">Listen to Maddy’s Story</a></button>
                     </div>
       </div>
     </div>
   
    </div>
   
   </div>
   <div class="customer-carbon-image3">
      <div class="sec3" >
       <div class="one-slider">
           <div class="ba-slider" style="position: absolute;left: 1525px;width: 378px;top:-675px;height: 342px;">
   
               <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/MicrosoftTeams-image7dfb42950efb84556e517c8ba692901dec171e12f472534be966fc20efa9636e_1_2.jpg?v=1669781939">
               <div class="resize">
                   <img src="https://cdn.shopify.com/s/files/1/0669/6343/9927/files/MicrosoftTeams-image623588dac018a0fe847b2e0a282fe12009d6fd938b9982860dd37da31ce54811_1_2.jpg?v=1669781935">
               </div>
               <span class="handle"></span>
            </div>
            <br/>
            <br/>
                     <div style="position:absolute;right: -1750px; top: -336px;width: 510px;"> 
                      <button style="color: #FFFFFF;width: 18rem;margin-top: 3rem;margin-bottom: 1rem;height: 4rem;background-color: #CC4E61;border-radius: 2rem;"> <a href="https://seacra-dev.myshopify.com/pages/alishas-story" style="color:#FFFFFF">Listen to Alisha’s Story</a></button>  
                    
                     </div>
       </div>
     </div>
   
    </div>
   </div>
  
  </body>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="customer-three-image.js"></script>



{% schema %}
{
  "name": "customer-content creator",
  "tag": "section",
  "class": "section collage-section",
  "presets": [
    {
      "name": "customer-content creator",
      "blocks": []
    }
  ]
}
  
{% endschema %}